openapi: 3.0.3
info:
  title: Quote API
  version: 0.1.0
  description: |-
    Hand-authored reference for the Quote Hyperliquid trading backend (Rust/axum).

    ## Wallet-scoped model
    Every authenticated request is resolved to a single normalized
    `wallet_address` by the auth layer. TiKV signing-key IDs, agent rows,
    template ownership, strategy ownership, invites, referrals, and analytics
    are all keyed by that wallet. Handlers never read `walletAddress` from
    request bodies or query strings. The caller identity always comes from the
    credential, never from the payload.

    ## Authentication
    Authenticate with an **HMAC API key** (`ApiKeyHmac`); see that security
    scheme for the canonical signing string. Keys are minted, listed, and
    revoked in the Quote terminal (**Settings → API Keys**); the secret is
    shown once at mint time. A key carries only the scopes granted at mint
    time and must satisfy the per-endpoint scope noted in each operation's
    description.

    Routes under `/api/*` require authentication, except the public
    `/api/info`. The root probes `/health`, `/ready`, and `/metrics` are
    unauthenticated.

    ## Async-accept order model
    `POST /api/orders` returns `200` when the order (or algo strategy) is
    **accepted into the execution engine**, NOT when it is filled. For algo
    strategies the response carries the parent order id; fills and progress
    arrive asynchronously (queryable via `GET /api/orders/algo*` or the
    `/ws/algos` WebSocket). Parent cancel success likewise means the cancel was
    durably accepted and child orders will be reconciled before a terminal
    state is recorded. It does not by itself mean the strategy is terminated.

    ## Order constraints (Hyperliquid)
    - **Minimum order notional ~$10**: Hyperliquid rejects orders below ~$10
      notional; sub-minimum child slices are skipped by strategies.
    - **Builder fee (approval required to trade)**: every order routed through
      Quote carries Quote's builder code, and Quote requires the approval
      before it will trade for a wallet. Approval is a one-time
      `approveBuilderFee` signature from the master wallet (performed in the
      terminal; verify via `builderFeeApproved` on `GET /api/agents`). The
      builder address must be lowercase hex; the fee field is in tenths of a
      basis point (2 bps = 20). Attachment is handled server-side.
    - **Price/size precision**: size is rounded to the asset's `szDecimals`;
      price is limited to 5 significant figures and `MAX_DECIMALS - szDecimals`
      decimal places.

    ## Error envelope
    All `4xx`/`5xx` responses (except `413` and `204`) use the JSON shape
    `{ "success": false, "error": "<message>" }`.
servers:
- url: https://api.quotemarkets.xyz
  description: Production
tags:
- name: Orders
  description: Order submission, cancellation, modification, and algo-order status.
- name: Agents
  description: Agent wallet lifecycle (create, register, builder-fee approval, terms).
- name: Positions
  description: Leverage, margin, and spot/perp transfer actions.
- name: Templates
  description: Saved order templates (CRUD).
- name: Triggers
  description: Conditional triggers (CRUD + history).
- name: Quests
  description: Tiered new-user quest progress and the favorite-quote submission.
- name: Analytics
  description: Execution-quality, volume, and fee analytics.
- name: Routing
  description: 'Counterfactual multi-venue routing: what each venue would have been worth, and which venues
    you allow.'
- name: Funding
  description: 'Funding-payment tracking: totals, timeline, and history.'
- name: Portfolio
  description: Quote-owned hourly equity time-series.
- name: Crypto
  description: Supply, valuation and prose for the asset behind a crypto market.
- name: Health
  description: Liveness/readiness probes, info, and Prometheus metrics.
security:
- ApiKeyHmac: []
paths:
  /.well-known/oauth-protected-resource/mcp:
    get:
      tags:
      - MCP Connector
      summary: OAuth Protected Resource Metadata, resource-suffixed (RFC 9728)
      description: Identical to the bare path. Both exist because a client may derive this URL from the
        `/mcp` resource rather than using the well-known root.
      operationId: oauthProtectedResourceMetadataForMcp
      security: []
      responses:
        '200':
          description: Resource + authorization-server metadata
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders:
    post:
      tags:
      - Orders
      summary: Submit an order or algo strategy
      description: |
        Submit a plain order (limit/market) or an algo strategy order.

        **Auth:** API-key scope:
        `orders:write`.

        **Async-accept:** a `200` means the order/strategy was **accepted into
        the engine**, not that it filled. For algo strategies (`strategy` set),
        `orderId` is the parent strategy id; track progress via
        `GET /api/orders/algo`.

        Sub-$10-notional orders are rejected by Hyperliquid; orders routed
        through Quote carry Quote's builder fee automatically.

        **Prerequisites:** a registered agent wallet AND builder-fee approval
        on the caller's wallet. Quote requires the approval before it will
        trade for a wallet; submissions without it fail. Check
        `builderFeeApproved` via `GET /api/agents` before trading.
      operationId: submitOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitOrderRequest'
      responses:
        '200':
          description: Order accepted into the engine (not necessarily filled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/cancel:
    post:
      tags:
      - Orders
      summary: Cancel a single order
      description: |
        Cancel a resting order or request cancellation of an algo strategy.

        **Auth:** API-key scope: `orders:write`.

        For a strategy parent, the response indicates only that the cancel was
        *requested*. Venue child orders are reconciled before a terminal state
        is recorded.
      operationId: cancelOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Cancel succeeded or was durably requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/cancel-all:
    post:
      tags:
      - Orders
      summary: Cancel all open orders
      description: |
        Cancel all of the caller's open orders, optionally filtered by symbol.

        **Auth:** API-key scope: `orders:write`.
      operationId: cancelAllOrders
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrdersRequest'
      responses:
        '200':
          description: Returns the number of orders cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/cancel-batch:
    post:
      tags:
      - Orders
      summary: Cancel a specific list of resting orders
      description: |
        Cancel exactly the listed resting orders in one signed venue action.

        **Auth:** API-key scope: `orders:write`.

        Every requested order gets a verdict in `results`, and the three counts
        partition that list. An order that was already closed when the cancel
        arrived is reported as `alreadyClosed`, not `cancelled`: it is not a
        failure, but it is not something this call did either.

        Resting orders only. A strategy parent is refused per-order with
        `failed`; cancel those through `/api/orders/cancel`.
      operationId: cancelOrdersBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrdersBatchRequest'
      responses:
        '200':
          description: Per-order verdicts. A partial failure is still a 200.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrdersBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/account/mode:
    post:
      tags:
      - Positions
      summary: Set the account margin mode
      description: |
        Switch the Hyperliquid account between standard, unified and
        portfolio-margin mode.

        **Auth:** API-key scope: `positions:write`.
      operationId: setAccountMode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAccountModeRequest'
      responses:
        '200':
          description: Mode applied.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetAccountModeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/simulate:
    post:
      tags:
      - Orders
      summary: Estimate what an order would cost
      description: |
        Pre-trade cost estimate: sweep the live L2 book for `size` on the
        requested side. Read-only, places nothing.

        A book that cannot price the order is reported in the body, not as an
        HTTP error.

        **Auth:** API-key scope: `orders:read`.
      operationId: simulateOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateOrderRequest'
      responses:
        '200':
          description: 'The estimate, or `hasEstimate: false` when the book cannot price it.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/urgency-preview:
    get:
      tags:
      - Orders
      summary: Preview the parameters an urgency setting implies
      description: |
        What a strategy would run with at a given urgency, before submitting
        anything. Pure computation: it reads no account and no market.

        **Auth:** authenticated. No scope required.
      operationId: urgencyPreview
      parameters:
      - name: strategy
        in: query
        required: true
        schema:
          type: string
        description: Strategy name, e.g. `twap`, `vwap`, `participation_rate`.
      - name: urgency
        in: query
        required: false
        schema:
          type: number
          format: double
        description: Urgency position 0-100. Required for `twap` and `vwap`.
      - name: participationPct
        in: query
        required: false
        schema:
          type: number
          format: double
        description: Target participation 0-100, for `participation_rate`.
      responses:
        '200':
          description: The implied parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrgencyPreviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/orders/algo/{order_id}/fills:
    get:
      tags:
      - Orders
      summary: List an algo order's child fills
      description: |
        Every fill recorded against one algo order's child orders, oldest
        first. Capped to the newest 5000: a run that outgrows the cap loses
        its oldest fills from the list, never its newest.

        **Auth:** API-key scope: `orders:read`.
      operationId: getAlgoOrderFills
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: The algo parent order id.
      responses:
        '200':
          description: The order's fills, oldest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrderFillsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo/{order_id}/diagnostics:
    get:
      tags:
      - Orders
      summary: Replay an algo order's diagnostics
      description: |
        The persisted diagnostic timeline for one algo order, oldest first.
        Each entry's `details` is exactly the redacted `wake`-frame payload
        the `/api/ws/algos` socket streams live, the same projection, so
        replayed and live entries can be merged into one timeline.
        Best-effort research data: a row may be missing under load.

        **Auth:** API-key scope: `orders:read`.
      operationId: getAlgoOrderDiagnostics
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: The algo parent order id.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 1000
          maximum: 5000
        description: Maximum entries returned. When a run has more, the NEWEST entries are kept (then
          returned oldest-first).
      responses:
        '200':
          description: The order's diagnostics, oldest first.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoDiagnosticsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo/{order_id}/speed-up:
    post:
      tags:
      - Orders
      summary: Speed up a running algo order
      description: |
        Compress a running algo order's remaining schedule. The engine applies
        the change to the live strategy; it does not resubmit the order.

        **Once per order.** A second speed-up on the same parent is rejected
        with `400`, whoever made the first one. `GET /api/orders/algo` reports
        `alreadySpedUp`, which is how to tell before calling.

        **Auth:** API-key scope: `orders:write`.
      operationId: speedUpOrder
      parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
        description: The algo parent order id.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeedUpOrderRequest'
      responses:
        '200':
          description: The applied change, or `success` false with an `error`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeedUpOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/tpsl:
    post:
      tags:
      - Positions
      summary: Attach take-profit and stop-loss to a position
      description: |
        Place TP/SL triggers against an open position. Existing position-bound
        triggers on the same symbol are replaced, plus any fixed-size triggers
        named in `replaceOids`.

        **Auth:** API-key scope: `orders:write`.
      operationId: setPositionTpsl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPositionTpslRequest'
      responses:
        '200':
          description: The triggers placed, with any warnings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetPositionTpslResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/trade-intents:
    get:
      tags:
      - Analytics
      summary: List trade intents
      description: |
        The caller's recent trade intents, newest first.

        A trade intent is the meta-order above strategy runs: it records what
        was being attempted and when the decision was made, and one or more
        strategy runs execute as its tactics. Orders submitted with an
        `envelope` create one.

        **Auth:** API-key scope: `orders:read`.
      operationId: listTradeIntents
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
        description: Page size. Defaults to 50.
      responses:
        '200':
          description: The caller's intents.
          content:
            application/json:
              schema:
                type: object
                required:
                - intents
                properties:
                  intents:
                    type: array
                    items:
                      type: object
                      description: 'A trade intent: its id, symbol, side, total size, the validated objective
                        and mandate, the arrival anchor captured at creation, and its fill accounting.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/trade-intents/{id}:
    get:
      tags:
      - Analytics
      summary: Cross-tactic execution report for one intent
      description: |
        How one decision actually executed, across every strategy run that
        served it.

        **Auth:** API-key scope: `orders:read`.
      operationId: getTradeIntentReport
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The intent's execution report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentExecutionReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/markets/book-depth:
    get:
      tags:
      - Analytics
      summary: One market's own book depth
      description: |
        How much is resting inside 1% of the mid on Hyperliquid, both sides
        reported separately. This is the asset page's order-book block, and it
        is a different question from `depth-compare`: one venue asked how much
        is there, rather than several ranked against each other.

        **Read `coversWindow` before rendering the totals**. See the field.
        A symbol with no readable book answers 404 rather than zeroes: zero
        depth and an unreadable book render identically and mean opposite
        things.

        **Auth:** none.
      operationId: getBookDepth
      parameters:
      - name: symbol
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Depth inside the window for the symbol.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookDepth'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: No readable book for this symbol.
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/modify:
    post:
      tags:
      - Orders
      summary: Modify an existing order
      description: |
        Update the price and/or size of an existing order via Hyperliquid's
        modify action.

        **Auth:** API-key scope: `orders:write`.
      operationId: modifyOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo:
    get:
      tags:
      - Orders
      summary: List algo (strategy) orders
      description: |
        List the caller's algo/strategy orders from the Postgres read
        projection.

        **Auth:** API-key scope: `orders:read`.
      operationId: getAlgoOrders
      responses:
        '200':
          description: List of algo orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrdersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo/{order_id}:
    get:
      tags:
      - Orders
      summary: Get a single algo order
      description: |
        Fetch a single algo/strategy order by parent order id. Must belong to
        the caller's wallet.

        **Auth:** API-key scope: `orders:read`.
      operationId: getAlgoOrder
      parameters:
      - name: order_id
        in: path
        required: true
        description: Parent strategy order id.
        schema:
          type: string
      responses:
        '200':
          description: The algo order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/by-client-id/{client_order_id}:
    get:
      tags:
      - Orders
      summary: Resolve an order by its client order id
      description: |
        Answer what happened to the order you submitted under a given
        `clientOrderId`. This is the endpoint to call when a submit timed out or
        returned `VENUE_UNREACHABLE` and you need to know whether the order
        landed before deciding to re-send.

        Two sources are consulted and the response says which answered:

        - Quote's own order registry, which knows the venue order id and the
          fills recorded against it.
        - Hyperliquid, keyed by the same client order id, which is authoritative
          about the order's current lifecycle and covers the case where our reply
          was lost before we learned the order id.

        `found: false` means neither source can account for the id: nothing was
        placed, and re-sending under the same id is safe. That is a `200`, not a
        `404`. It is an answer to the question, and a `404` would be
        indistinguishable from a mistyped path.

        A field is absent when no source could supply it, never zero. In
        particular `filledSize` absent means "unknown", which is not the same
        claim as `"0"`, and `venueStatus` absent means Hyperliquid could not be
        reached, which is distinct from `venueStatus: unknownOid`, which is Hyperliquid
        saying it has no such order.

        Not charged against the order-submission rate budget, so it stays
        available to a client that has just been rate limited.

        **Auth:** API-key scope: `orders:read`.
      operationId: getOrderByClientId
      parameters:
      - name: client_order_id
        in: path
        required: true
        description: The client order id the order was submitted under.
        schema:
          type: string
      responses:
        '200':
          description: What is known about the order, including that nothing is.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderByClientIdResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/agents:
    post:
      tags:
      - Agents
      summary: Create an agent wallet
      description: |
        Generate a locally-encrypted agent wallet (AES-256-GCM secp256k1) for
        the caller. Returns the agent address to be approved on Hyperliquid via
        `POST /api/agents/register`.

        **Auth:** API-key scope: `agents:write`.
      operationId: createAgent
      responses:
        '200':
          description: Agent created (or already existing).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
      - Agents
      summary: Get the caller's agent wallet
      description: |
        Return the caller's agent wallet, verifying registration against
        Hyperliquid. Only registered agents are returned. A missing/unregistered
        agent yields `success: true` with no `agentAddress`; an expired agent
        yields `expired: true`.

        Before trading, also check `builderFeeApproved`: Quote requires the
        approval before it will trade for a wallet.

        **Auth:** API-key scope: `agents:read`.
      operationId: getAgent
      responses:
        '200':
          description: Agent info (possibly empty/expired).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/agents/register:
    post:
      tags:
      - Agents
      summary: Register an agent wallet with Hyperliquid
      description: |
        Submit a signed `approveAgent` action to Hyperliquid for the caller's
        agent. The signature is produced client-side over the agent address and
        nonce.

        **Auth:** API-key scope: `agents:write`.
      operationId: registerAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAgentRequest'
      responses:
        '200':
          description: Agent registered (or already registered).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            Hyperliquid rejected `approveAgent` because the account has never
            been funded. Body carries `code: HL_NOT_FUNDED`. Deposit to the
            account, then retry registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/agents/builder-approval:
    post:
      tags:
      - Agents
      summary: Record builder-fee approval
      description: |
        Record that the caller approved Quote's builder fee on Hyperliquid
        (HL is the source of truth for the approval itself). Builder-fee
        approval is **required to trade**: the `approveBuilderFee` action is
        signed by the master wallet and submitted by the terminal; Quote will
        not trade for a wallet without it.

        **Auth:** API-key scope: `agents:write`.
      operationId: recordBuilderApproval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordBuilderApprovalRequest'
      responses:
        '200':
          description: Recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/agents/accept-terms:
    post:
      tags:
      - Agents
      summary: Accept terms of service
      description: |
        Record the caller's acceptance of a terms version and analytics consent.

        **Auth:** API-key scope: `agents:write`.
      operationId: acceptTerms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptTermsRequest'
      responses:
        '200':
          description: Recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/leverage:
    post:
      tags:
      - Positions
      summary: Update leverage
      description: |
        Sign and submit an `updateLeverage` action via the agent wallet.

        **Auth:** API-key scope: `positions:write`.
      operationId: updateLeverage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeverageRequest'
      responses:
        '200':
          description: Leverage updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/margin:
    post:
      tags:
      - Positions
      summary: Update isolated margin
      description: |
        Sign and submit an `updateIsolatedMargin` action via the agent wallet.
        Positive `marginDelta` adds margin, negative removes.

        **Auth:** API-key scope: `positions:write`.
      operationId: updateMargin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMarginRequest'
      responses:
        '200':
          description: Margin updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/transfer:
    post:
      tags:
      - Positions
      summary: Transfer between spot and perp
      description: |
        Sign and submit a `spotUser` transfer action via the agent wallet.
        `amount` is in USD and must be positive.

        **Auth:** API-key scope: `positions:write`.
      operationId: transferSpotPerp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferSpotPerpRequest'
      responses:
        '200':
          description: Transfer submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/companies/{ticker}/summary:
    get:
      tags:
      - Companies
      summary: Get identity, valuation and next report for one underlying
      description: |
        The same stored snapshot `getCompany` serves, carrying only `profile`,
        `metrics` and `calendar`: who the company is, what it is worth, and
        when it next reports. The statements, insider decisions, filings and
        headlines are omitted; measured on NVDA they are 98% of that response.

        For a surface that renders about a dozen numbers and switches market
        often, on the trade page's About panel, and it is cheaper at the database
        too, not only on the wire: the excluded payload bodies are never read.

        A **separate path** rather than a parameter on `getCompany`, because the
        response shape differs. Nulling the heavy fields on the shared shape
        would make "not requested" and "the vendor has nothing" the same value,
        and the second is what `covered: false` already means.

        Payloads are the vendor's own response bodies, stored raw and
        uninterpreted, exactly as on `getCompany`. `covered: false` and `404`
        mean what they mean there.

        **Auth:** none. Registered in the public read-only group and per-IP
        rate limited.
      operationId: getCompanySummary
      parameters:
      - name: ticker
        in: path
        required: true
        description: Bare exchange ticker, e.g. `NVDA`.
        schema:
          type: string
          pattern: ^[A-Z][A-Z0-9.]{0,9}$
      responses:
        '200':
          description: The newest stored snapshot, summarised.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanySummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: No snapshot for this ticker. The sweep has not reached it.
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/crypto/{symbol}/tokenomics:
    get:
      tags:
      - Crypto
      summary: Get supply, valuation and prose for the asset behind a crypto market
      description: |
        Returns the stored CoinGecko snapshot for the coin a market is about.
        Served from storage: no vendor call on the request path, which is what
        makes it safe to leave unauthenticated and cacheable.

        **`relation` says whose numbers these are, and it is not decoration.** A
        Hyperliquid perp is a contract that TRACKS an asset, so `BTC` returns
        Bitcoin's supply and market cap under `relation: underlying`: a
        perpetual has no circulating supply of its own. A spot pair IS the
        asset, so `PURR/USDC` returns `relation: asset`. Render the block from
        this field rather than from a market type: heading a perp's figures
        "Asset" asserts a quantity that does not exist.

        Symbols are resolved through a **curated** mapping (`assets.coingecko_id`),
        never by ticker. A ticker is not unique on CoinGecko: 14 coins are
        called ETH, and market-cap rank is not a resolution rule: it picks
        MEMETOON over the real Memecoin, and the answer looks exactly as
        confident as a correct one. So a symbol no human has mapped is a `404`,
        which includes every equity, commodity and prediction market.

        A perp and a spot pair on the same asset resolve to ONE stored row and
        cannot drift apart.

        Every figure is optional. `maxSupply` is absent where the protocol sets
        no cap, which is a fact about the token rather than a gap. Render the
        absence, not a zero. `marketFetchedAt` dates the valuation figures and
        is the only staleness signal here: a coin the vendor has stopped
        returning keeps its last values and stops at the date they were true.

        **Auth:** none. Registered in the public read-only group and per-IP
        rate limited.
      operationId: getTokenomics
      parameters:
      - name: symbol
        in: path
        required: true
        description: 'A Quote market symbol, venue prefix and all: `BTC`, `PURR/USDC`, `xyz:NVDA`. At
          most 64 characters.'
        schema:
          type: string
          maxLength: 64
          example: BTC
      responses:
        '200':
          description: The stored snapshot for this market's coin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenomicsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: No CoinGecko mapping for this symbol.
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/templates:
    get:
      tags:
      - Templates
      summary: List order templates
      description: |
        List the caller's saved order templates.

        **Auth:** API-key scope: `templates:read`.
      operationId: listTemplates
      responses:
        '200':
          description: List of templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplatesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
      - Templates
      summary: Create an order template
      description: |
        Create a saved order template. `urgency` and `priceDiscipline` must be
        between 0 and 100.

        **Auth:** API-key scope: `templates:write`.
      operationId: createTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Template created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/templates/{template_id}:
    get:
      tags:
      - Templates
      summary: Get a template
      description: |
        Fetch one of the caller's templates by id (UUID).

        **Auth:** API-key scope: `templates:read`.
      operationId: getTemplate
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      responses:
        '200':
          description: The template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags:
      - Templates
      summary: Update a template
      description: |
        Update one of the caller's templates. Provided `urgency`/`priceDiscipline`
        must be 0–100.

        **Auth:** API-key scope: `templates:write`.
      operationId: updateTemplate
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateRequest'
      responses:
        '200':
          description: Template updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
      - Templates
      summary: Delete a template
      description: |
        Delete one of the caller's templates by id.

        **Auth:** API-key scope: `templates:write`.
      operationId: deleteTemplate
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      responses:
        '200':
          description: Template deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/triggers:
    get:
      tags:
      - Triggers
      summary: List conditional triggers
      description: |
        List the caller's conditional triggers, optionally filtered by status.

        **Auth:** API-key scope: `orders:read`.
      operationId: listTriggers
      parameters:
      - name: status
        in: query
        required: false
        description: 'One of: active, triggered, cancelled, expired, failed.'
        schema:
          type: string
          enum:
          - active
          - triggered
          - cancelled
          - expired
          - failed
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: List of triggers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTriggersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
      - Triggers
      summary: Create a conditional trigger
      description: |
        Create a conditional trigger. `triggerType` must be a known type
        (e.g. `price`, `copy_trade`, `funding`, `oi_change`, `time`). The
        `condition` and `executionOrder` payloads are opaque JSON interpreted by
        the trigger evaluator.

        **Auth:** API-key scope: `orders:write`.
      operationId: createTrigger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTriggerRequest'
      responses:
        '201':
          description: Trigger created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/triggers/{trigger_id}:
    get:
      tags:
      - Triggers
      summary: Get a trigger
      description: |
        Fetch one of the caller's triggers by id (UUID).

        **Auth:** API-key scope: `orders:read`.
      operationId: getTrigger
      parameters:
      - $ref: '#/components/parameters/TriggerId'
      responses:
        '200':
          description: The trigger.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
      - Triggers
      summary: Cancel a trigger
      description: |
        Cancel one of the caller's active triggers (status -> `cancelled`).

        **Auth:** API-key scope: `orders:write`.
      operationId: cancelTrigger
      parameters:
      - $ref: '#/components/parameters/TriggerId'
      responses:
        '200':
          description: Trigger cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/triggers/{trigger_id}/history:
    get:
      tags:
      - Triggers
      summary: Get trigger history
      description: |
        List the history events for one of the caller's triggers.

        **Auth:** API-key scope: `orders:read`.
      operationId: triggerHistory
      parameters:
      - $ref: '#/components/parameters/TriggerId'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Trigger history events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/quests:
    get:
      tags:
      - Quests
      summary: Quest and badge progress
      description: |
        The caller's quest progress (`quests`), the badges those quests earn
        (`badges`), and the incomplete quests ranked best-first for a
        "next up" prompt (`next`). Derived quests (funded account, first trade,
        X connect, Telegram link, referrals, algo volume) are re-evaluated on
        each read; completion is sticky.

        Badges partition the quest catalog into thematic sets and are earned by
        completing every member quest. `isNew` is true for a badge that has been
        earned but not yet acknowledged via
        `POST /api/quests/badges/{key}/seen`. Use it to fire an unlock
        celebration exactly once.

        **Auth:** API-key scope: `account:read` (the X-connect
        quest can only complete via a terminal session, whose identity token
        attests the link).
      operationId: getQuests
      responses:
        '200':
          description: Quests, badges, and recommended next quests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/quests/quote:
    post:
      tags:
      - Quests
      summary: Submit a favorite quote
      description: |
        Store the caller's favorite quote and complete the matching quest.
        Re-submitting overwrites the stored quote.

        **Auth:** API-key scope: `account:write`.
      operationId: submitQuestQuote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitQuoteRequest'
      responses:
        '200':
          description: Quote stored.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/quests/badges/{key}/seen:
    post:
      tags:
      - Quests
      summary: Acknowledge a badge unlock
      description: |
        Mark a badge's unlock as seen, clearing its `isNew` flag on subsequent
        `GET /api/quests` reads so an unlock celebration never replays.

        Idempotent: acknowledging an already-seen or never-earned badge is a
        no-op.

        **Auth:** API-key scope: `account:write`.
      operationId: markQuestBadgeSeen
      parameters:
      - name: key
        in: path
        required: true
        description: Badge key, as returned in `badges[].key`.
        schema:
          type: string
          enum:
          - setup
          - operator
          - strategist
          - cartographer
          - editor
          - typesetter
          - advocate
      responses:
        '200':
          description: Acknowledged.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/routing/savings:
    get:
      tags:
      - Routing
      summary: What connecting each venue would have been worth
      description: |
        For every child order Quote sends, a routing verdict is recorded against
        every venue that could have taken it, and nothing is acted on: the
        order goes where it always went. This endpoint reads those records back
        for the caller's own wallet and answers, per venue, what routing there
        would have cost or saved.

        The saving is split into two halves that want different work, because
        across the market/size cells measured offline the large majority came
        out fee-driven rather than liquidity-driven:

        - `feeSavingUsd`: the difference in trading fees. This is the half a
          venue connection captures on its own.
        - `executionSavingUsd`: the difference in what the book itself cost to
          cross. This is the half that needs a router.

        They sum to `savingUsd` net of any fragmentation premium charged for
        opening a second position leg (`premiumCostUsd`), which is why a venue
        can be cheaper to trade on and still not be a saving.

        A venue that could never be priced is still reported, with `refusals`
        naming which gate stopped it: a venue with no live book and a venue
        with no fee schedule both produce "nothing better was found" and mean
        different things.

        `caveat` states what these numbers are: displayed liquidity at a
        haircut, with no queue position, no latency, no market impact and no
        adverse selection. An upper bound on the opportunity, not a forecast of
        the fill.

        **Auth:** API-key scope: `account:read`.
      operationId: getRoutingSavings
      parameters:
      - name: days
        in: query
        required: false
        description: Look-back window in days. Clamped to 1-365.
        schema:
          type: integer
          default: 30
          minimum: 1
          maximum: 365
      responses:
        '200':
          description: Per-venue counterfactual savings for the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RoutingSavingsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/routing/venues:
    get:
      tags:
      - Routing
      summary: Which venues you allow routing to
      description: |
        Every venue this build can route to, with the caller's preference for
        each. A venue the caller has never set is `enabled: true` with a null
        `updatedAt`: enabled is the default, and there is no stored row until
        someone changes it.

        Exactly one row carries `baseline: true`. That is where orders go when
        routing changes nothing, so it has no switch and
        `PUT /api/routing/venues/{venue}` refuses it.

        **Auth:** API-key scope: `account:read`.
      operationId: getRoutingVenues
      responses:
        '200':
          description: One entry per venue.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoutingVenuePref'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/routing/venues/{venue}:
    put:
      tags:
      - Routing
      summary: Turn one venue on or off
      description: |
        Set whether routing may consider this venue for the caller's orders.

        The preference applies to the recorded counterfactual as well, so a
        venue turned off appears in `GET /api/routing/savings` refused as
        `disabled` rather than silently vanishing: you can still see what the
        setting is costing.

        **Auth:** API-key scope: `account:write`.
      operationId: setRoutingVenue
      parameters:
      - name: venue
        in: path
        required: true
        description: Venue id, as returned by `GET /api/routing/venues`.
        schema:
          type: string
          enum:
          - kraken
          - coinbase
          - okx
          - lighter
          - binance
          - bybit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - enabled
              properties:
                enabled:
                  type: boolean
                  description: Whether routing may consider this venue.
      responses:
        '200':
          description: Preference stored.
          content:
            application/json:
              schema:
                type: object
                required:
                - venue
                - enabled
                properties:
                  venue:
                    type: string
                  enabled:
                    type: boolean
        '400':
          description: Unknown venue, or the baseline venue, which cannot be turned off.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/execution:
    get:
      tags:
      - Analytics
      summary: Execution-quality metrics
      description: |
        Aggregate implementation-shortfall metrics over a time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsExecution
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Aggregate execution metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionMetrics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/execution/timeline:
    get:
      tags:
      - Analytics
      summary: Execution-quality timeline
      description: |
        Time-bucketed execution-quality timeline (HL vs Quote cumulative costs)
        over a time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsExecutionTimeline
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Timeline points.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExecutionTimelinePoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/volume:
    get:
      tags:
      - Analytics
      summary: Quote-routed volume
      description: |
        Cumulative Quote-routed trading volume from the fills ledger over a
        time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsVolume
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Cumulative volume.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/fees:
    get:
      tags:
      - Analytics
      summary: Quote-routed fees
      description: |
        Exchange + builder fees paid on Quote-routed fills over a time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsFees
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Fee totals.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/fees/summary:
    get:
      tags:
      - Analytics
      summary: Fee stack
      description: |
        The complete fee stack behind one trade for the calling wallet: the
        Hyperliquid leg (net taker/maker rates for perps and spot, plus the
        volume tier, HYPE-staking discount, and HL referral discount that
        produced them), Quote's builder fee and whether this wallet has
        approved it, the loyalty tier's cashback and referral rates, and the
        all-in effective rate.

        Rates are quoted in **basis points** (1 bp = 0.01%).

        `effective = hyperliquid + builder fee − the rewards rebate on that
        fee`. The rebate accrues as claimable USDC rather than an on-chain
        discount, so a fill still costs `hyperliquid + builder` at the moment
        it happens.

        `volumeTier` is derived from the wallet's actual rate, not from
        `volume14dUsd`: Hyperliquid tiers on 14-day volume weighted
        `perps + 2× spot`, and the daily rows don't split spot from perp, so
        `volume14dUsd` reads low for a wallet with spot volume. A `null`
        `volumeTier` means the rate didn't match the published ladder. Treat
        it as unknown, not as tier 0.

        Only the Hyperliquid leg is load-bearing. An unconfigured rewards
        program leaves `rewards` `null`, and a builder-fee approval that
        can't be read resolves toward `builderFeeCharged: true`, so an
        unreadable answer overstates the cost rather than understating it.

        **Auth:** API-key scope: `orders:read`.
      operationId: feeSummary
      responses:
        '200':
          description: The wallet's fee stack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeSummaryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/funding:
    get:
      tags:
      - Funding
      summary: Funding totals
      description: |
        Aggregate funding paid / received / net over a time range, with a
        per-coin breakdown. Funding is synced incrementally from Hyperliquid
        `userFunding` into a durable projection on each request; if the sync
        fails the persisted rows are still returned.

        Sign convention: `net = received − paid`; `totalPaid` / `totalReceived`
        are positive magnitudes.

        **Auth:** API-key scope: `orders:read`.
      operationId: fundingSummary
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Funding totals and per-coin breakdown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/funding/timeline:
    get:
      tags:
      - Funding
      summary: Funding timeline
      description: |
        Cumulative funding timeline (net / paid / received), bucketed hourly for
        `1d` and daily otherwise.

        **Auth:** API-key scope: `orders:read`.
      operationId: fundingTimeline
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Cumulative funding timeline points.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundingTimelinePoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/funding/history:
    get:
      tags:
      - Funding
      summary: Funding history
      description: |
        Detailed per-event funding log over a time range, newest-first.

        **Auth:** API-key scope: `orders:read`.
      operationId: fundingHistory
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Funding events, newest-first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundingHistoryItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/portfolio/equity:
    get:
      tags:
      - Portfolio
      summary: Equity time-series
      description: |
        Hourly account-value samples (perp + spot), with margin, unrealized PnL,
        and per-hour net flow. `accountValue` may be `null` (a gap), never 0.
        PnL view = Δ accountValue − Σ netFlow.

        **Auth:** API-key scope: `orders:read`.
      operationId: portfolioEquity
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Equity samples, oldest-first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquityPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/portfolio/equity/latest:
    get:
      tags:
      - Portfolio
      summary: Latest equity sample
      description: |
        The most recent equity sample for the wallet (or `null`).

        **Auth:** API-key scope: `orders:read`.
      operationId: portfolioEquityLatest
      responses:
        '200':
          description: Latest sample or null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/info:
    get:
      tags:
      - Health
      summary: API/network info
      description: |
        Small network/config debug endpoint reporting the active network and
        Hyperliquid API URL.

        **Auth:** public (no auth).
      operationId: getInfo
      security: []
      responses:
        '200':
          description: Network info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
  /health:
    get:
      tags:
      - Health
      summary: Liveness probe
      description: Always returns 200 while the process is running.
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Liveness OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /ready:
    get:
      tags:
      - Health
      summary: Readiness probe
      description: |
        Returns 200 if all configured dependencies (PostgreSQL, Hyperliquid
        circuit breakers, TiKV vault, JetStream) are healthy; 503 otherwise.
      operationId: readinessCheck
      security: []
      responses:
        '200':
          description: All dependencies healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '503':
          description: One or more dependencies degraded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
  /metrics:
    get:
      tags:
      - Health
      summary: Prometheus metrics
      description: |
        Prometheus text-format metrics in local/default mode. In OTLP mode this
        returns `503` because metrics flow through the OpenTelemetry collector.
      operationId: metrics
      security: []
      responses:
        '200':
          description: Prometheus text exposition format.
          content:
            text/plain:
              schema:
                type: string
        '503':
          description: Metrics disabled (OTLP mode).
components:
  securitySchemes:
    ApiKeyHmac:
      type: apiKey
      in: header
      name: X-Quote-Key
      description: |
        HMAC API-key authentication. Three headers are sent on every request:

        - `X-Quote-Key`: the public key id (this scheme's header).
        - `X-Quote-Timestamp`: request time in **milliseconds** since epoch.
          Must be within 30 seconds of server time.
        - `X-Quote-Signature`: hex HMAC-SHA256 over the canonical string.

        **Canonical signing string** (literal `\n` separators):

        ```
        <timestamp>\n<METHOD>\n<path_with_query>\n<body>
        ```

        where `<timestamp>` is the `X-Quote-Timestamp` value, `<METHOD>` is the
        uppercase HTTP method, `<path_with_query>` is the request path including
        any query string, and `<body>` is the raw request body (empty string if
        none). The 32-byte secret returned at mint time is used **directly** as
        the HMAC-SHA256 key.

        Keys are minted, listed, and revoked in the Quote terminal
        (**Settings → API Keys**). A key carries only the scopes granted at mint
        time.
  parameters:
    TemplateId:
      name: template_id
      in: path
      required: true
      description: Template UUID.
      schema:
        type: string
        format: uuid
    TriggerId:
      name: trigger_id
      in: path
      required: true
      description: Trigger UUID.
      schema:
        type: string
        format: uuid
    AnalyticsRange:
      name: range
      in: query
      required: false
      description: 'Time range. One of: 1d, 7d, 30d, all. Defaults to a server default when omitted.'
      schema:
        type: string
        enum:
        - 1d
        - 7d
        - 30d
        - all
  responses:
    BadRequest:
      description: Invalid request (validation error, malformed body/UUID, etc.).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: 'Authenticated but not permitted: the API key lacks the required scope.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found or not owned by the caller's wallet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: |
        Rate limit exceeded. Carries `Retry-After`: the limiter's own wait for
        the caller's bucket, so a client can back off for exactly as long as it
        needs to rather than guessing.
      headers:
        Retry-After:
          description: Whole seconds to wait before retrying. Always at least 1.
          required: true
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Upstream (Hyperliquid/Relay) returned an error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: |
        A required dependency is unavailable or a feature is not configured
        (also returned when a Hyperliquid circuit breaker is open).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PayloadTooLarge:
      description: |
        Request body exceeds the 4 MiB limit enforced by the body-buffering
        layer. The response body is not the standard JSON error envelope.
  schemas:
    ErrorResponse:
      type: object
      description: Standard error envelope used for 4xx/5xx (except 413/204).
      required:
      - success
      - error
      - code
      properties:
        success:
          type: boolean
          enum:
          - false
        error:
          type: string
        code:
          type: string
          description: |
            Stable machine-readable error code. Always present: branch on this
            rather than on the `error` text or the status code, both of which are
            free to change.

            Generic codes mirror the status: `BAD_REQUEST`, `UNAUTHORIZED`,
            `FORBIDDEN`, `NOT_FOUND`, `RATE_LIMITED`, `SERVICE_UNAVAILABLE`,
            `BAD_GATEWAY`, `INTERNAL`.

            Specific codes carry more: `HL_NOT_FUNDED` (422 from
            `POST /api/agents/register`), `builder_fee_not_approved` (403,
            lowercase for historical reasons, carrying the fields needed to sign
            `ApproveBuilderFee`), and the order-submission codes below.

            A **plain** order submission (`POST /api/orders` without `strategy`)
            additionally returns `disposition`, which says whether the order may
            have reached Hyperliquid. Retry logic should read that field, not the
            status. An algo submission makes no venue call at submit time (it
            records an intent the engine then executes in slices), so a failed
            algo submit has no venue outcome to be ambiguous about and returns a
            generic code instead:

            | code | status | disposition | what to do |
            |------|--------|-------------|------------|
            | `EXECUTION_UNAVAILABLE` | 503 | `not_sent` | Re-send as-is. |
            | `RATE_LIMITED` | 429 | `not_sent` | Pause, then re-send as-is. |
            | `VENUE_UNREACHABLE` | 502 | `unknown` | Do **not** blindly re-send. Resolve the `clientOrderId` on the body via `GET /api/orders/by-client-id/{client_order_id}` first. |
            | `ORDER_REJECTED` | 400 | `refused` | Fix the order. Nothing was placed. |
            | `INVALID_ORDER` | 400 | `refused` | Fix the request. Nothing was placed. |
            | `AGENT_UNUSABLE` | 422 | `refused` | Never retry: re-onboard the agent wallet. |

            `unknown` is the only disposition under which the order may be live.
        disposition:
          type: string
          enum:
          - not_sent
          - unknown
          - refused
          description: Whether the order reached Hyperliquid, which an HTTP status cannot express. Present
            on plain-order submission errors only. See the table under `code`.
        clientOrderId:
          type: string
          description: The id the failed attempt was submitted under, present alongside `disposition`,
            including when you supplied no id of your own, since one is assigned server-side.
    SuccessResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
          enum:
          - true
    MessageResponse:
      type: object
      description: Generic success response with an optional human-readable message.
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        error:
          type: string
    Side:
      type: string
      enum:
      - buy
      - sell
    OrderType:
      type: string
      enum:
      - limit
      - market
    TimeInForce:
      type: string
      description: Time in force. Serialized as the uppercase variant names.
      enum:
      - GTC
      - ALO
      - IOC
    TpslMode:
      type: string
      enum:
      - market
      - limit
    TpslSide:
      type: object
      required:
      - triggerPrice
      properties:
        triggerPrice:
          type: string
        limitPrice:
          type: string
          nullable: true
    TpslParams:
      type: object
      description: TP/SL configuration. Note `mode`, `tp`, `sl` are snake/lower as named.
      required:
      - mode
      properties:
        mode:
          $ref: '#/components/schemas/TpslMode'
        tp:
          allOf:
          - $ref: '#/components/schemas/TpslSide'
          nullable: true
        sl:
          allOf:
          - $ref: '#/components/schemas/TpslSide'
          nullable: true
    StrategyParamsInput:
      type: object
      description: |
        Strategy-specific parameters forwarded to the execution engine. This is
        a large, mostly-optional bag of knobs; the relevant subset depends on
        the chosen `strategy`. Fields accept both camelCase and snake_case keys
        (serde aliases). Numeric "bps"/decimal fields accept string, integer, or
        float JSON. Only commonly-used fields are enumerated here; additional
        properties are accepted.
      additionalProperties: true
      properties:
        reduceOnly:
          type: boolean
          nullable: true
        timeInForce:
          type: string
          nullable: true
          description: Child-order TIF (gtc/alo/ioc), strategy-dependent.
        attachedTpsl:
          allOf:
          - $ref: '#/components/schemas/TpslParams'
          nullable: true
        durationSecs:
          type: integer
          format: int64
          nullable: true
        numSlices:
          type: integer
          format: int64
          nullable: true
        passivePct:
          type: integer
          format: int64
          nullable: true
        clipSize:
          type: string
          nullable: true
          description: Decimal as string.
        clipPct:
          type: number
          format: double
          nullable: true
        participationRate:
          type: string
          nullable: true
          description: Decimal as string.
        urgency:
          type: integer
          format: int64
          nullable: true
          description: 0–100.
        randomize:
          type: boolean
          nullable: true
        maxSlippageBps:
          type: string
          nullable: true
          description: 'Price bound in basis points from the arrival mid, beyond which the order will
            not execute. On `participation_rate` it bounds every child order including the `maxDurationSecs`
            completion sweep, and taker clips that would breach it are skipped rather than sent; the order
            may finish unfilled. Other strategies ignore it: use `limitPrice` there. Must be greater than
            0.'
        hardCancelPct:
          type: string
          nullable: true
        offsetFromMidBps:
          type: integer
          format: int64
          nullable: true
        chaseEnabled:
          type: boolean
          nullable: true
        cross:
          type: boolean
          nullable: true
          default: false
          description: '`chase_limit` only. Work the taker side of the book: price at the opposing touch
            and re-peg there as it moves, instead of resting inside the spread. What does not fill immediately
            rests at that price, so it keeps working between re-pegs. `limitPrice` still bounds it, and
            a limit that does not reach the market simply rests there. The offset ladder does not apply.
            Default false, since crossing pays the spread on every fill.'
        guaranteedCompletion:
          type: boolean
          nullable: true
    SubmitOrderRequest:
      type: object
      required:
      - symbol
      - side
      - size
      - orderType
      properties:
        symbol:
          type: string
          example: ETH
        side:
          $ref: '#/components/schemas/Side'
        size:
          type: string
          description: Base-asset size as a decimal string.
        orderType:
          $ref: '#/components/schemas/OrderType'
        limitPrice:
          type: string
          nullable: true
          description: Required for limit orders; for market orders supply a slippage-adjusted price.
        reduceOnly:
          type: boolean
          nullable: true
          default: false
        timeInForce:
          allOf:
          - $ref: '#/components/schemas/TimeInForce'
          nullable: true
        clientOrderId:
          type: string
          nullable: true
          description: 'Your own id for this order, and the idempotency key for re-sending it. Supply
            and reuse one whenever a retry must not place a second order: a duplicate is refused rather
            than executed, so a submit that timed out can be safely re-sent under the same id. Algo orders
            are deduplicated by this API and return the existing order with a warning; plain orders are
            deduplicated by Hyperliquid, which rejects the duplicate. Omit it and an id is assigned server-side
            and returned to you. That is enough to resolve the order afterwards, but not enough to make
            your retry idempotent, since each retry would be assigned a new one. Echoed back on the response
            and resolvable via `GET /api/orders/by-client-id/{client_order_id}`.'
        strategy:
          type: string
          nullable: true
          description: Algo strategy name (e.g. passive_twap, vwap, iceberg, participation_rate, chase_limit).
            Omit for a plain order.
        params:
          allOf:
          - $ref: '#/components/schemas/StrategyParamsInput'
          nullable: true
        tpsl:
          allOf:
          - $ref: '#/components/schemas/TpslParams'
          nullable: true
        source:
          type: string
          nullable: true
          description: Originating product surface, when not the plain order form (e.g. `quentin` for
            orders dispatched by the NL assistant). Attribution only, never affects execution.
        postId:
          type: string
          nullable: true
          maxLength: 512
          description: The wire post this order was placed off, when it was placed from a breaking-news
            headline. Attribution only, never affects execution, and what lets news execution be measured
            against the post that triggered it. Empty or longer than 512 characters is rejected with a
            400 rather than recorded.
    SubmitOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        orderId:
          type: string
          description: Venue order id, or for algo strategies the parent strategy id.
        status:
          type: string
        provider:
          type: string
          description: Execution provider, e.g. "hyperliquid".
        clientOrderId:
          type: string
          description: 'The client order id this order was submitted under: yours when you sent one, otherwise
            the id assigned server-side. Always present on a successful submit, and it is the key `GET
            /api/orders/by-client-id/{client_order_id}` resolves, so record it if you may need to ask
            later whether the order landed.'
        error:
          type: string
        warnings:
          type: array
          items:
            type: string
    CancelOrderRequest:
      type: object
      required:
      - symbol
      - orderId
      properties:
        symbol:
          type: string
        orderId:
          type: string
    CancelOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        error:
          type: string
    CancelAllOrdersRequest:
      type: object
      properties:
        symbol:
          type: string
          nullable: true
          description: If omitted, cancels all open orders.
    CancelOrderItem:
      type: object
      required:
      - symbol
      - orderId
      properties:
        symbol:
          type: string
        orderId:
          type: string
          description: Numeric exchange order id (oid). A strategy client order id is refused with status
            `failed`.
    CancelOrdersBatchRequest:
      type: object
      required:
      - orders
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/CancelOrderItem'
    CancelOrderResult:
      type: object
      required:
      - symbol
      - orderId
      - status
      properties:
        symbol:
          type: string
        orderId:
          type: string
        status:
          type: string
          enum:
          - cancelled
          - alreadyClosed
          - failed
          description: |
            `cancelled` - this call closed the order.
            `alreadyClosed` - it was already not open when the cancel arrived.
            `failed` - the venue refused it, or it never reached the venue.
        error:
          type: string
          description: Present only when `status` is `failed`.
        orderStatus:
          type: string
          description: The venue's own lifecycle word when `status` is `alreadyClosed` (e.g. "filled",
            "canceled"). This is the only thing separating an order that filled from one that was already
            cancelled. Absent otherwise.
    CancelOrdersBatchResponse:
      type: object
      required:
      - allClosed
      - cancelled
      - alreadyClosed
      - failed
      - results
      properties:
        allClosed:
          type: boolean
          description: True when nothing failed, i.e. no requested order is still open.
        cancelled:
          type: integer
          description: Orders this call closed. Excludes orders already closed on arrival.
        alreadyClosed:
          type: integer
          description: Orders already gone before the cancel arrived.
        failed:
          type: integer
          description: Orders the venue refused to cancel.
        results:
          type: array
          description: One entry per requested order. The three counts above partition this list exactly.
          items:
            $ref: '#/components/schemas/CancelOrderResult'
    SetAccountModeRequest:
      type: object
      required:
      - mode
      properties:
        mode:
          type: string
          enum:
          - standard
          - unifiedAccount
          - portfolioMargin
    SetAccountModeResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        error:
          type: string
    SimulateOrderRequest:
      type: object
      required:
      - symbol
      - side
      - size
      properties:
        symbol:
          type: string
        side:
          $ref: '#/components/schemas/Side'
        size:
          type: string
          description: Decimal string, in base units.
    SimulateOrderResponse:
      type: object
      required:
      - hasEstimate
      properties:
        hasEstimate:
          type: boolean
          description: False when the book cannot price the order at all. The remaining fields are then
            absent.
        expectedPrice:
          type: string
          description: Average fill price across the simulated sweep.
        vwap:
          type: string
          description: Volume-weighted price of the levels consumed.
        impactBps:
          type: string
          description: Signed depth cost against the best opposing quote. Positive is worse, matching
            the benchmark convention used across the API.
        bestPrice:
          type: string
          description: Best opposing quote at simulation time.
        mid:
          type: string
        availableSize:
          type: string
          description: Total same-side depth, so a caller can tell a partial fill.
        error:
          type: string
          description: Present only when `hasEstimate` is false.
    UrgencyPreviewResponse:
      type: object
      description: Field names are snake_case here, unlike the rest of the API. Every field is absent
        when it does not apply to the requested strategy.
      properties:
        intervals:
          type: integer
          format: int32
        passive_pct:
          type: integer
          format: int32
        participation_pct:
          type: integer
          format: int32
        expected_maker_pct:
          type: integer
          format: int32
    SpeedUpOrderRequest:
      type: object
      properties:
        factor:
          type: number
          format: double
          nullable: true
          description: Compression factor for the remaining schedule.
    SpeedUpOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        error:
          type: string
        factor:
          type: number
          format: double
          description: The factor actually applied.
        newDurationSecs:
          type: integer
          format: int64
        newParticipationRate:
          type: string
    AlgoFillInfo:
      type: object
      required:
      - symbol
      - side
      - size
      - price
      - timestamp
      properties:
        symbol:
          type: string
        side:
          type: string
        size:
          type: string
        price:
          type: string
        fee:
          type: string
        builderFee:
          type: string
        isMaker:
          type: boolean
        timestamp:
          type: integer
          format: int64
          description: 'When the fill happened, epoch milliseconds: Hyperliquid''s own clock where the
            ledger has it, else Quote''s write clock. The two match for a fill delivered live and diverge
            for one the reconciler recovered, whose write time is minutes after the trade, so this is
            the instant to join against live fill events on.'
    AlgoOrderFillsResponse:
      type: object
      required:
      - success
      - fills
      properties:
        success:
          type: boolean
        fills:
          type: array
          items:
            $ref: '#/components/schemas/AlgoFillInfo'
    AlgoDiagnosticInfo:
      type: object
      required:
      - recordedAtMs
      - details
      properties:
        recordedAtMs:
          type: integer
          format: int64
          description: When the diagnostic was recorded, epoch milliseconds.
        details:
          type: object
          additionalProperties: true
          description: 'The redacted diagnostic payload, keyed by `event`: the same projection the live
            socket''s `wake` frames carry.'
    AlgoDiagnosticsResponse:
      type: object
      required:
      - success
      - diagnostics
      properties:
        success:
          type: boolean
        diagnostics:
          type: array
          items:
            $ref: '#/components/schemas/AlgoDiagnosticInfo'
    SetPositionTpslRequest:
      type: object
      required:
      - symbol
      - tpsl
      properties:
        symbol:
          type: string
        tpsl:
          $ref: '#/components/schemas/TpslParams'
        size:
          type: string
          nullable: true
          description: Defaults to the whole position.
        replaceOids:
          type: array
          nullable: true
          items:
            type: integer
            format: int64
          description: 'Fixed-size triggers on this symbol to cancel as part of the replacement: the reduce-only
            legs that order-attached TP/SL and partial closes leave behind, which nothing at the venue
            ties to the position. Position-bound triggers are always replaced and never need naming here.
            Each oid must be a closing trigger order on this symbol; any other oid is rejected, so an
            unrelated resting order can never be cancelled through this field.'
    SetPositionTpslResponse:
      type: object
[...]
