openapi: 3.0.3
info:
  title: Quote API
  version: 0.1.0
  description: |-
    Hand-authored reference for the Quote Hyperliquid trading backend (Rust/axum).

    ## Wallet-scoped model
    Every authenticated request is resolved to a single normalized
    `wallet_address` by the auth layer. TiKV signing-key IDs, agent rows,
    template ownership, strategy ownership, invites, referrals, and analytics
    are all keyed by that wallet. Handlers never read `walletAddress` from
    request bodies or query strings. The caller identity always comes from the
    credential, never from the payload.

    ## Authentication
    Authenticate with an **HMAC API key** (`ApiKeyHmac`); see that security
    scheme for the canonical signing string. Keys are minted, listed, and
    revoked in the Quote terminal (**Settings → API Keys**); the secret is
    shown once at mint time. A key carries only the scopes granted at mint
    time and must satisfy the per-endpoint scope noted in each operation's
    description.

    Routes under `/api/*` require authentication, except the public
    `/api/info`. The root probes `/health`, `/ready`, and `/metrics` are
    unauthenticated.

    ## Async-accept order model
    `POST /api/orders` returns `200` when the order (or algo strategy) is
    **accepted into the execution engine**, NOT when it is filled. For algo
    strategies the response carries the parent order id; fills and progress
    arrive asynchronously (queryable via `GET /api/orders/algo*` or the
    `/ws/algos` WebSocket). Parent cancel success likewise means the cancel was
    durably accepted and child orders will be reconciled before a terminal
    state is recorded. It does not by itself mean the strategy is terminated.

    ## Order constraints (Hyperliquid)
    - **Minimum order notional ~$10**: Hyperliquid rejects orders below ~$10
      notional; sub-minimum child slices are skipped by strategies.
    - **Builder fee (approval required to trade)**: every order routed through
      Quote carries Quote's builder code, and Quote requires the approval
      before it will trade for a wallet. Approval is a one-time
      `approveBuilderFee` signature from the master wallet (performed in the
      terminal; verify via `builderFeeApproved` on `GET /api/agents`). The
      builder address must be lowercase hex; the fee field is in tenths of a
      basis point (2 bps = 20). Attachment is handled server-side.
    - **Price/size precision**: size is rounded to the asset's `szDecimals`;
      price is limited to 5 significant figures and `MAX_DECIMALS - szDecimals`
      decimal places.

    ## Error envelope
    All `4xx`/`5xx` responses (except `413` and `204`) use the JSON shape
    `{ "success": false, "error": "<message>" }`.
servers:
- url: https://api.quotemarkets.xyz
  description: Production
tags:
- name: Orders
  description: Order submission, cancellation, modification, and algo-order status.
- name: Agents
  description: Agent wallet lifecycle (create, register, builder-fee approval, terms).
- name: Positions
  description: Leverage, margin, and spot/perp transfer actions.
- name: Templates
  description: Saved order templates (CRUD).
- name: Triggers
  description: Conditional triggers (CRUD + history).
- name: Quests
  description: Tiered new-user quest progress and the favorite-quote submission.
- name: Analytics
  description: Execution-quality, volume, and fee analytics.
- name: Funding
  description: 'Funding-payment tracking: totals, timeline, and history.'
- name: Portfolio
  description: Quote-owned hourly equity time-series.
- name: Health
  description: Liveness/readiness probes, info, and Prometheus metrics.
security:
- ApiKeyHmac: []
paths:
  /api/orders:
    post:
      tags:
      - Orders
      summary: Submit an order or algo strategy
      description: |
        Submit a plain order (limit/market) or an algo strategy order.

        **Auth:** API-key scope:
        `orders:write`.

        **Async-accept:** a `200` means the order/strategy was **accepted into
        the engine**, not that it filled. For algo strategies (`strategy` set),
        `orderId` is the parent strategy id; track progress via
        `GET /api/orders/algo`, whose `filledQty` is live.

        **TP/SL** is set with the top-level `tpsl` field for both plain and algo
        orders. See that field for when the legs become live in each case.
        There is no per-strategy TP/SL parameter.

        **`params` is strict:** a key the chosen strategy's parameter set does
        not define is rejected with a `400` naming it, rather than accepted and
        ignored.

        Sub-$10-notional orders are rejected by Hyperliquid; orders routed
        through Quote carry Quote's builder fee automatically.

        **Prerequisites:** a registered agent wallet AND builder-fee approval
        on the caller's wallet. Quote requires the approval before it will
        trade for a wallet; submissions without it fail. Check
        `builderFeeApproved` via `GET /api/agents` before trading.
      operationId: submitOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitOrderRequest'
      responses:
        '200':
          description: Order accepted into the engine (not necessarily filled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmitOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/cancel:
    post:
      tags:
      - Orders
      summary: Cancel a single order
      description: |
        Cancel a resting order or request cancellation of an algo strategy.

        **Auth:** API-key scope: `orders:write`.

        For a strategy parent, the response indicates only that the cancel was
        *requested*. Venue child orders are reconciled before a terminal state
        is recorded.
      operationId: cancelOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrderRequest'
      responses:
        '200':
          description: Cancel succeeded or was durably requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/cancel-all:
    post:
      tags:
      - Orders
      summary: Cancel all open orders
      description: |
        Cancel all of the caller's open orders, optionally filtered by symbol.

        **Auth:** API-key scope: `orders:write`.
      operationId: cancelAllOrders
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAllOrdersRequest'
      responses:
        '200':
          description: Returns the number of orders cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/modify:
    post:
      tags:
      - Orders
      summary: Modify an existing order
      description: |
        Update the price and/or size of an existing order via Hyperliquid's
        modify action.

        **Auth:** API-key scope: `orders:write`.
      operationId: modifyOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyOrderRequest'
      responses:
        '200':
          description: Order modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo:
    get:
      tags:
      - Orders
      summary: List algo (strategy) orders
      description: |
        List the caller's algo/strategy orders, newest first.

        `filledQty` is live for a running order: it is read from the fills
        ledger, so polling this endpoint tracks progress as it happens. Polling
        is the intended way for an API-key client to follow a running algo:
        the terminal's live algo WebSocket authenticates with a browser session
        token and is not available to API keys.

        **Auth:** API-key scope: `orders:read`.
      operationId: getAlgoOrders
      parameters:
      - name: status
        in: query
        required: false
        description: Filter by lifecycle status. One of `active`, `paused`, `completed`, `cancelled`,
          `failed`.
        schema:
          type: string
      - name: symbol
        in: query
        required: false
        description: Filter by symbol (case-insensitive, e.g. `BTC`).
        schema:
          type: string
      - name: limit
        in: query
        required: false
        description: Page size. Defaults to 100, clamped to 1–500.
        schema:
          type: integer
          format: int64
      - name: offset
        in: query
        required: false
        description: Rows to skip, for paging.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: List of algo orders.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrdersResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo/{order_id}:
    get:
      tags:
      - Orders
      summary: Get a single algo order
      description: |
        Fetch a single algo/strategy order by parent order id. Must belong to
        the caller's wallet.

        **Auth:** API-key scope: `orders:read`.
      operationId: getAlgoOrder
      parameters:
      - name: order_id
        in: path
        required: true
        description: Parent strategy order id.
        schema:
          type: string
      responses:
        '200':
          description: The algo order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrderResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo/{order_id}/fills:
    get:
      tags:
      - Orders
      summary: List an algo order's fills
      description: |
        Every recorded child fill of one algo order, newest first (capped at
        500). Use this to reconcile an algo's execution fill by fill: price,
        size, fees and whether each fill was maker.

        **Auth:** API-key scope: `orders:read`. The order must
        belong to the caller's wallet.
      operationId: getAlgoOrderFills
      parameters:
      - name: order_id
        in: path
        required: true
        description: Parent strategy order id.
        schema:
          type: string
      responses:
        '200':
          description: The order's fills.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlgoOrderFillsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/algo/{order_id}/speed-up:
    post:
      tags:
      - Orders
      summary: Speed up a running algo order
      description: |
        Compress the remaining schedule of a running algo order, without
        cancelling and re-submitting it (which would lose queue position and
        re-anchor its benchmark).

        The response echoes the absolute schedule the strategy now runs on, so
        you can confirm what the factor actually resolved to.

        **Auth:** API-key scope: `orders:write`.
      operationId: speedUpAlgoOrder
      parameters:
      - name: order_id
        in: path
        required: true
        description: Parent strategy order id.
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeedUpOrderRequest'
      responses:
        '200':
          description: The new schedule.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeedUpOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/cancel-batch:
    post:
      tags:
      - Orders
      summary: Cancel a list of orders
      description: |
        Cancel an explicit list of resting orders in a single signed venue
        action.

        Unlike `/api/orders/cancel-all`, you choose exactly which orders go, so
        algo child orders and triggers are never touched. One request covers the
        whole list, so cancelling N orders costs one rate-limited call rather
        than N.

        `success` is true only when every requested order is no longer open;
        `results` carries the per-order verdict aligned by `(symbol, orderId)`.
        An order that was already filled or cancelled counts as success (it is
        not open) and reports its venue status.

        **Auth:** API-key scope: `orders:write`.
      operationId: cancelOrdersBatch
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelOrdersBatchRequest'
      responses:
        '200':
          description: Per-order cancellation results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CancelOrdersBatchResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/simulate:
    post:
      tags:
      - Orders
      summary: Estimate what an order would cost
      description: |
        Simulate sweeping the live order book for a given size and side.
        Read-only: it places nothing.

        Use it to size an order before sending it: `expectedPrice` is what the
        sweep would average, `impactBps` is the signed cost against the best
        opposing quote (positive = worse), and `availableSize` is the total
        resting size on that side, so you can tell whether the order would fill
        in full at all.

        `impactBps` is measured against the best opposing quote, not mid, on
        purpose: mid counts half the spread as impact, which reads as a huge
        false warning on a wide book where crossing the touch moves nothing.

        A book with no liquidity returns `success: false` with an `error`,
        not an HTTP error.

        **Auth:** API-key scope: `orders:read`.
      operationId: simulateOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateOrderRequest'
      responses:
        '200':
          description: The simulated sweep.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimulateOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/orders/urgency-preview:
    get:
      tags:
      - Orders
      summary: Preview what an urgency setting will do
      description: |
        Return the mechanical parameters the engine will derive from an
        `urgency` position, before you send an order.

        `urgency` is an aggressiveness dial, not a duration. This endpoint is
        how you find out what a number means: for `twap` it returns the slice
        count and passive share, for `vwap` the participation rate, and for
        every strategy the expected maker share of fills.

        **Auth:** authenticated.
      operationId: urgencyPreview
      parameters:
      - name: strategy
        in: query
        required: true
        description: One of `twap`, `vwap`, `pov`, `iceberg`, `chase`. `twap` and `vwap` require `urgency`;
          the others have no urgency dial and are accepted here only for the maker-share estimate.
        schema:
          type: string
          enum:
          - twap
          - vwap
          - pov
          - iceberg
          - chase
      - name: urgency
        in: query
        required: false
        description: Slider position, 0–100. Required for `twap` and `vwap`.
        schema:
          type: number
          format: double
      - name: participation_pct
        in: query
        required: false
        description: Participation rate 0–100. Read for `pov` only.
        schema:
          type: number
          format: double
      responses:
        '200':
          description: The derived parameters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrgencyPreviewResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/strategies:
    get:
      tags:
      - Orders
      summary: List executable strategies
      description: |
        Every strategy this build can run, with its accepted aliases and the
        `params` keys it reads.

        Derived from the engine's own closed strategy set, so it cannot drift:
        a strategy missing from this response is one the build genuinely cannot
        execute, and an alias listed here resolves through the same function
        `POST /api/orders` uses.

        `basic: true` marks a strategy that resolves to a single venue order
        rather than an algo that slices its own children, which is what decides
        how `tpsl` is applied (see the `tpsl` field on the submit request).

        Sending a key a strategy does not read is harmless; sending one no
        strategy defines is a `400`.

        **Auth:** authenticated.
      operationId: listStrategies
      responses:
        '200':
          description: The executable strategy set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StrategiesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/agents:
    post:
      tags:
      - Agents
      summary: Create an agent wallet
      description: |
        Generate a locally-encrypted agent wallet (AES-256-GCM secp256k1) for
        the caller. Returns the agent address to be approved on Hyperliquid via
        `POST /api/agents/register`.

        **Auth:** API-key scope: `agents:write`.
      operationId: createAgent
      responses:
        '200':
          description: Agent created (or already existing).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    get:
      tags:
      - Agents
      summary: Get the caller's agent wallet
      description: |
        Return the caller's agent wallet, verifying registration against
        Hyperliquid. Only registered agents are returned. A missing/unregistered
        agent yields `success: true` with no `agentAddress`; an expired agent
        yields `expired: true`.

        Before trading, also check `builderFeeApproved`: Quote requires the
        approval before it will trade for a wallet.

        **Auth:** API-key scope: `agents:read`.
      operationId: getAgent
      responses:
        '200':
          description: Agent info (possibly empty/expired).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAgentResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/agents/register:
    post:
      tags:
      - Agents
      summary: Register an agent wallet with Hyperliquid
      description: |
        Submit a signed `approveAgent` action to Hyperliquid for the caller's
        agent. The signature is produced client-side over the agent address and
        nonce.

        **Auth:** API-key scope: `agents:write`.
      operationId: registerAgent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterAgentRequest'
      responses:
        '200':
          description: Agent registered (or already registered).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterAgentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: |
            Hyperliquid rejected `approveAgent` because the account has never
            been funded. Body carries `code: HL_NOT_FUNDED`. Deposit to the
            account, then retry registration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/agents/builder-approval:
    post:
      tags:
      - Agents
      summary: Record builder-fee approval
      description: |
        Record that the caller approved Quote's builder fee on Hyperliquid
        (HL is the source of truth for the approval itself). Builder-fee
        approval is **required to trade**: the `approveBuilderFee` action is
        signed by the master wallet and submitted by the terminal; Quote will
        not trade for a wallet without it.

        **Auth:** API-key scope: `agents:write`.
      operationId: recordBuilderApproval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecordBuilderApprovalRequest'
      responses:
        '200':
          description: Recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/agents/accept-terms:
    post:
      tags:
      - Agents
      summary: Accept terms of service
      description: |
        Record the caller's acceptance of a terms version and analytics consent.

        **Auth:** API-key scope: `agents:write`.
      operationId: acceptTerms
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AcceptTermsRequest'
      responses:
        '200':
          description: Recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/leverage:
    post:
      tags:
      - Positions
      summary: Update leverage
      description: |
        Sign and submit an `updateLeverage` action via the agent wallet.

        **Auth:** API-key scope: `positions:write`.
      operationId: updateLeverage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLeverageRequest'
      responses:
        '200':
          description: Leverage updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/margin:
    post:
      tags:
      - Positions
      summary: Update isolated margin
      description: |
        Sign and submit an `updateIsolatedMargin` action via the agent wallet.
        Positive `marginDelta` adds margin, negative removes.

        **Auth:** API-key scope: `positions:write`.
      operationId: updateMargin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMarginRequest'
      responses:
        '200':
          description: Margin updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/transfer:
    post:
      tags:
      - Positions
      summary: Transfer between spot and perp
      description: |
        Sign and submit a `spotUser` transfer action via the agent wallet.
        `amount` is in USD and must be positive.

        **Auth:** API-key scope: `positions:write`.
      operationId: transferSpotPerp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferSpotPerpRequest'
      responses:
        '200':
          description: Transfer submitted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/positions/tpsl:
    post:
      tags:
      - Positions
      summary: Set TP/SL on an open position
      description: |
        Place take-profit / stop-loss triggers bound to an open position.

        This is how you protect a position you already hold, including one an
        algo built, if you did not set `tpsl` on the order itself. The legs are
        reduce-only and sized to the current position (or to `size`, if you want
        to protect only part of it).

        **Replaces, does not append.** The request expresses the full desired
        state: any existing position-bound triggers for the symbol are cancelled
        once the new legs are accepted. Placement happens before cleanup, so a
        failure can never leave the position with no protection at all. The
        trade-off is that a failed cleanup leaves old triggers resting, reported
        in `warnings`.

        At least one of `tpsl.tp` / `tpsl.sl` is required. To clear protection
        entirely, cancel the trigger orders via `/api/orders/cancel`.

        **Auth:** API-key scope: `orders:write`.
      operationId: setPositionTpsl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetPositionTpslRequest'
      responses:
        '200':
          description: The placed triggers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetPositionTpslResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/account/mode:
    post:
      tags:
      - Positions
      summary: Switch account margin mode
      description: |
        Switch the account's abstraction (margin) mode between standard,
        unified account, and portfolio margin.

        Activating a unified mode requires the account to have no open
        positions. Portfolio margin is gated by Hyperliquid and this endpoint is
        additionally behind a server-side feature flag: it returns **503** while
        that flag is off, which is its normal state today.

        **Auth:** API-key scope: `positions:write`.
      operationId: setAccountMode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetAccountModeRequest'
      responses:
        '200':
          description: Mode switched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetAccountModeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          description: Account mode switching is not enabled, or the provider is unconfigured.
  /api/trade-intents:
    get:
      tags:
      - Analytics
      summary: List trade intents
      description: |
        The caller's recent trade intents, newest first.

        A trade intent is the meta-order above strategy runs: it records what
        was being attempted and when the decision was made, and one or more
        strategy runs execute as its tactics. Orders submitted with an
        `envelope` create one.

        **Auth:** API-key scope: `orders:read`.
      operationId: listTradeIntents
      parameters:
      - name: limit
        in: query
        required: false
        description: Page size.
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The caller's intents.
          content:
            application/json:
              schema:
                type: object
                required:
                - intents
                properties:
                  intents:
                    type: array
                    items:
                      type: object
                      description: 'A trade intent row: its id, symbol, side, total size, the validated
                        envelope, and the arrival anchor captured at creation.'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/trade-intents/{id}:
    get:
      tags:
      - Analytics
      summary: Get a trade intent's execution report
      description: |
        The cross-tactic execution report for one intent.

        This measures the whole meta-order rather than a single strategy run,
        which matters when more than one tactic worked the same intent: each run
        captures its own arrival price, so per-run benchmarks are not comparable
        across them.

        Shortfall is reported in Perold's decomposition and the parts are kept
        separate on purpose. `totalShortfallBps` is measured from the intent's
        arrival anchor (captured once, when the decision was made),
        `executionBps` from each tactic's own arrival, and `delayBps` is the
        residue between them: what the market did while nothing was working the
        order. Folding delay into execution would let "waited for a better
        price" read as good execution.

        All bps follow the house convention: **positive = worse.**

        **Auth:** API-key scope: `orders:read`.
      operationId: getTradeIntentReport
      parameters:
      - name: id
        in: path
        required: true
        description: Trade intent id (UUID).
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: The execution report.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentExecutionReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/templates:
    get:
      tags:
      - Templates
      summary: List order templates
      description: |
        List the caller's saved order templates.

        **Auth:** API-key scope: `templates:read`.
      operationId: listTemplates
      responses:
        '200':
          description: List of templates.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTemplatesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
      - Templates
      summary: Create an order template
      description: |
        Create a saved order template. `urgency` and `priceDiscipline` must be
        between 0 and 100.

        **Auth:** API-key scope: `templates:write`.
      operationId: createTemplate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Template created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/templates/{template_id}:
    get:
      tags:
      - Templates
      summary: Get a template
      description: |
        Fetch one of the caller's templates by id (UUID).

        **Auth:** API-key scope: `templates:read`.
      operationId: getTemplate
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      responses:
        '200':
          description: The template.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    put:
      tags:
      - Templates
      summary: Update a template
      description: |
        Update one of the caller's templates. Provided `urgency`/`priceDiscipline`
        must be 0–100.

        **Auth:** API-key scope: `templates:write`.
      operationId: updateTemplate
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemplateRequest'
      responses:
        '200':
          description: Template updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
      - Templates
      summary: Delete a template
      description: |
        Delete one of the caller's templates by id.

        **Auth:** API-key scope: `templates:write`.
      operationId: deleteTemplate
      parameters:
      - $ref: '#/components/parameters/TemplateId'
      responses:
        '200':
          description: Template deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/triggers:
    get:
      tags:
      - Triggers
      summary: List conditional triggers
      description: |
        List the caller's conditional triggers, optionally filtered by status.

        **Auth:** API-key scope: `orders:read`.
      operationId: listTriggers
      parameters:
      - name: status
        in: query
        required: false
        description: 'One of: active, triggered, cancelled, expired, failed.'
        schema:
          type: string
          enum:
          - active
          - triggered
          - cancelled
          - expired
          - failed
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: List of triggers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTriggersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    post:
      tags:
      - Triggers
      summary: Create a conditional trigger
      description: |
        Create a conditional trigger. `triggerType` must be a known type
        (e.g. `price`, `copy_trade`, `funding`, `oi_change`, `time`). The
        `condition` and `executionOrder` payloads are opaque JSON interpreted by
        the trigger evaluator.

        **Auth:** API-key scope: `orders:write`.
      operationId: createTrigger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTriggerRequest'
      responses:
        '201':
          description: Trigger created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/triggers/{trigger_id}:
    get:
      tags:
      - Triggers
      summary: Get a trigger
      description: |
        Fetch one of the caller's triggers by id (UUID).

        **Auth:** API-key scope: `orders:read`.
      operationId: getTrigger
      parameters:
      - $ref: '#/components/parameters/TriggerId'
      responses:
        '200':
          description: The trigger.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
    delete:
      tags:
      - Triggers
      summary: Cancel a trigger
      description: |
        Cancel one of the caller's active triggers (status -> `cancelled`).

        **Auth:** API-key scope: `orders:write`.
      operationId: cancelTrigger
      parameters:
      - $ref: '#/components/parameters/TriggerId'
      responses:
        '200':
          description: Trigger cancelled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/triggers/{trigger_id}/history:
    get:
      tags:
      - Triggers
      summary: Get trigger history
      description: |
        List the history events for one of the caller's triggers.

        **Auth:** API-key scope: `orders:read`.
      operationId: triggerHistory
      parameters:
      - $ref: '#/components/parameters/TriggerId'
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: Trigger history events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerHistoryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/quests:
    get:
      tags:
      - Quests
      summary: Quest and badge progress
      description: |
        The caller's quest progress (`quests`), the badges those quests earn
        (`badges`), and the incomplete quests ranked best-first for a
        "next up" prompt (`next`). Derived quests (funded account, first trade,
        X connect, Telegram link, referrals, algo volume) are re-evaluated on
        each read; completion is sticky.

        Badges partition the quest catalog into thematic sets and are earned by
        completing every member quest. `isNew` is true for a badge that has been
        earned but not yet acknowledged via
        `POST /api/quests/badges/{key}/seen`. Use it to fire an unlock
        celebration exactly once.

        **Auth:** API-key scope: `account:read` (the X-connect
        quest can only complete via a terminal session, whose identity token
        attests the link).
      operationId: getQuests
      responses:
        '200':
          description: Quests, badges, and recommended next quests.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/quests/quote:
    post:
      tags:
      - Quests
      summary: Submit a favorite quote
      description: |
        Store the caller's favorite quote and complete the matching quest.
        Re-submitting overwrites the stored quote.

        **Auth:** API-key scope: `account:write`.
      operationId: submitQuestQuote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmitQuoteRequest'
      responses:
        '200':
          description: Quote stored.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/quests/badges/{key}/seen:
    post:
      tags:
      - Quests
      summary: Acknowledge a badge unlock
      description: |
        Mark a badge's unlock as seen, clearing its `isNew` flag on subsequent
        `GET /api/quests` reads so an unlock celebration never replays.

        Idempotent: acknowledging an already-seen or never-earned badge is a
        no-op.

        **Auth:** API-key scope: `account:write`.
      operationId: markQuestBadgeSeen
      parameters:
      - name: key
        in: path
        required: true
        description: Badge key, as returned in `badges[].key`.
        schema:
          type: string
          enum:
          - setup
          - operator
          - strategist
          - cartographer
          - editor
          - typesetter
          - advocate
      responses:
        '200':
          description: Acknowledged.
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                properties:
                  success:
                    type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/execution:
    get:
      tags:
      - Analytics
      summary: Execution-quality metrics
      description: |
        Aggregate implementation-shortfall metrics over a time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsExecution
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Aggregate execution metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionMetrics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/execution/timeline:
    get:
      tags:
      - Analytics
      summary: Execution-quality timeline
      description: |
        Time-bucketed execution-quality timeline (HL vs Quote cumulative costs)
        over a time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsExecutionTimeline
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Timeline points.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExecutionTimelinePoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/volume:
    get:
      tags:
      - Analytics
      summary: Quote-routed volume
      description: |
        Cumulative Quote-routed trading volume from the fills ledger over a
        time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsVolume
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Cumulative volume.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/analytics/fees:
    get:
      tags:
      - Analytics
      summary: Quote-routed fees
      description: |
        Exchange + builder fees paid on Quote-routed fills over a time range.

        **Auth:** API-key scope: `orders:read`.
      operationId: analyticsFees
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Fee totals.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/fees/summary:
    get:
      tags:
      - Analytics
      summary: Fee stack
      description: |
        The complete fee stack behind one trade for the calling wallet: the
        Hyperliquid leg (net taker/maker rates for perps and spot, plus the
        volume tier, HYPE-staking discount, and HL referral discount that
        produced them), Quote's builder fee and whether this wallet has
        approved it, the loyalty tier's cashback and referral rates, and the
        all-in effective rate.

        Rates are quoted in **basis points** (1 bp = 0.01%).

        `effective = hyperliquid + builder fee − the rewards rebate on that
        fee`. The rebate accrues as claimable USDC rather than an on-chain
        discount, so a fill still costs `hyperliquid + builder` at the moment
        it happens.

        `volumeTier` is derived from the wallet's actual rate, not from
        `volume14dUsd`: Hyperliquid tiers on 14-day volume weighted
        `perps + 2× spot`, and the daily rows don't split spot from perp, so
        `volume14dUsd` reads low for a wallet with spot volume. A `null`
        `volumeTier` means the rate didn't match the published ladder. Treat
        it as unknown, not as tier 0.

        Only the Hyperliquid leg is load-bearing. An unconfigured rewards
        program leaves `rewards` `null`, and a builder-fee approval that
        can't be read resolves toward `builderFeeCharged: true`, so an
        unreadable answer overstates the cost rather than understating it.

        **Auth:** API-key scope: `orders:read`.
      operationId: feeSummary
      responses:
        '200':
          description: The wallet's fee stack.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeSummaryResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '502':
          $ref: '#/components/responses/BadGateway'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/funding:
    get:
      tags:
      - Funding
      summary: Funding totals
      description: |
        Aggregate funding paid / received / net over a time range, with a
        per-coin breakdown. Funding is synced incrementally from Hyperliquid
        `userFunding` into a durable projection on each request; if the sync
        fails the persisted rows are still returned.

        Sign convention: `net = received − paid`; `totalPaid` / `totalReceived`
        are positive magnitudes.

        **Auth:** API-key scope: `orders:read`.
      operationId: fundingSummary
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Funding totals and per-coin breakdown.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/funding/timeline:
    get:
      tags:
      - Funding
      summary: Funding timeline
      description: |
        Cumulative funding timeline (net / paid / received), bucketed hourly for
        `1d` and daily otherwise.

        **Auth:** API-key scope: `orders:read`.
      operationId: fundingTimeline
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Cumulative funding timeline points.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundingTimelinePoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/funding/history:
    get:
      tags:
      - Funding
      summary: Funding history
      description: |
        Detailed per-event funding log over a time range, newest-first.

        **Auth:** API-key scope: `orders:read`.
      operationId: fundingHistory
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Funding events, newest-first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FundingHistoryItem'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/portfolio/equity:
    get:
      tags:
      - Portfolio
      summary: Equity time-series
      description: |
        Hourly account-value samples (perp + spot), with margin, unrealized PnL,
        and per-hour net flow. `accountValue` may be `null` (a gap), never 0.
        PnL view = Δ accountValue − Σ netFlow.

        **Auth:** API-key scope: `orders:read`.
      operationId: portfolioEquity
      parameters:
      - $ref: '#/components/parameters/AnalyticsRange'
      responses:
        '200':
          description: Equity samples, oldest-first.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/EquityPoint'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/portfolio/equity/latest:
    get:
      tags:
      - Portfolio
      summary: Latest equity sample
      description: |
        The most recent equity sample for the wallet (or `null`).

        **Auth:** API-key scope: `orders:read`.
      operationId: portfolioEquityLatest
      responses:
        '200':
          description: Latest sample or null.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EquityPoint'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /api/info:
    get:
      tags:
      - Health
      summary: API/network info
      description: |
        Small network/config debug endpoint reporting the active network and
        Hyperliquid API URL.

        **Auth:** public (no auth).
      operationId: getInfo
      security: []
      responses:
        '200':
          description: Network info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoResponse'
        '429':
          $ref: '#/components/responses/RateLimited'
  /health:
    get:
      tags:
      - Health
      summary: Liveness probe
      description: Always returns 200 while the process is running.
      operationId: healthCheck
      security: []
      responses:
        '200':
          description: Liveness OK.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
  /ready:
    get:
      tags:
      - Health
      summary: Readiness probe
      description: |
        Returns 200 if all configured dependencies (PostgreSQL, Hyperliquid
        circuit breakers, TiKV vault, JetStream) are healthy; 503 otherwise.
      operationId: readinessCheck
      security: []
      responses:
        '200':
          description: All dependencies healthy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
        '503':
          description: One or more dependencies degraded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
  /metrics:
    get:
      tags:
      - Health
      summary: Prometheus metrics
      description: |
        Prometheus text-format metrics in local/default mode. In OTLP mode this
        returns `503` because metrics flow through the OpenTelemetry collector.
      operationId: metrics
      security: []
      responses:
        '200':
          description: Prometheus text exposition format.
          content:
            text/plain:
              schema:
                type: string
        '503':
          description: Metrics disabled (OTLP mode).
components:
  securitySchemes:
    ApiKeyHmac:
      type: apiKey
      in: header
      name: X-Quote-Key
      description: |
        HMAC API-key authentication. Three headers are sent on every request:

        - `X-Quote-Key`: the public key id (this scheme's header).
        - `X-Quote-Timestamp`: request time in **milliseconds** since epoch.
          Must be within 30 seconds of server time.
        - `X-Quote-Signature`: hex HMAC-SHA256 over the canonical string.

        **Canonical signing string** (literal `\n` separators):

        ```
        <timestamp>\n<METHOD>\n<path_with_query>\n<body>
        ```

        where `<timestamp>` is the `X-Quote-Timestamp` value, `<METHOD>` is the
        uppercase HTTP method, `<path_with_query>` is the request path including
        any query string, and `<body>` is the raw request body (empty string if
        none). The 32-byte secret returned at mint time is used **directly** as
        the HMAC-SHA256 key.

        Keys are minted, listed, and revoked in the Quote terminal
        (**Settings → API Keys**). A key carries only the scopes granted at mint
        time.
  parameters:
    TemplateId:
      name: template_id
      in: path
      required: true
      description: Template UUID.
      schema:
        type: string
        format: uuid
    TriggerId:
      name: trigger_id
      in: path
      required: true
      description: Trigger UUID.
      schema:
        type: string
        format: uuid
    AnalyticsRange:
      name: range
      in: query
      required: false
      description: 'Time range. One of: 1d, 7d, 30d, all. Defaults to a server default when omitted.'
      schema:
        type: string
        enum:
        - 1d
        - 7d
        - 30d
        - all
  responses:
    BadRequest:
      description: Invalid request (validation error, malformed body/UUID, etc.).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Missing or invalid credentials.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: 'Authenticated but not permitted: the API key lacks the required scope.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found or not owned by the caller's wallet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    RateLimited:
      description: Rate limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    BadGateway:
      description: Upstream (Hyperliquid/Relay) returned an error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ServiceUnavailable:
      description: |
        A required dependency is unavailable or a feature is not configured
        (also returned when a Hyperliquid circuit breaker is open).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    PayloadTooLarge:
      description: |
        Request body exceeds the 4 MiB limit enforced by the body-buffering
        layer. The response body is not the standard JSON error envelope.
  schemas:
    ErrorResponse:
      type: object
      description: Standard error envelope used for 4xx/5xx (except 413/204).
      required:
      - success
      - error
      properties:
        success:
          type: boolean
          enum:
          - false
        error:
          type: string
        code:
          type: string
          description: |
            Stable machine-readable error code, present only on errors a client
            is expected to branch on (currently `HL_NOT_FUNDED` on 422 from
            `POST /api/agents/register`).
    SuccessResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
          enum:
          - true
    MessageResponse:
      type: object
      description: Generic success response with an optional human-readable message.
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        error:
          type: string
    Side:
      type: string
      enum:
      - buy
      - sell
    OrderType:
      type: string
      enum:
      - limit
      - market
    TimeInForce:
      type: string
      description: Time in force. Serialized as the uppercase variant names.
      enum:
      - GTC
      - ALO
      - IOC
    TpslMode:
      type: string
      enum:
      - market
      - limit
    TpslSide:
      type: object
      required:
      - triggerPrice
      properties:
        triggerPrice:
          type: string
        limitPrice:
          type: string
          nullable: true
    TpslParams:
      type: object
      description: TP/SL configuration. Note `mode`, `tp`, `sl` are snake/lower as named.
      required:
      - mode
      properties:
        mode:
          $ref: '#/components/schemas/TpslMode'
        tp:
          allOf:
          - $ref: '#/components/schemas/TpslSide'
          nullable: true
        sl:
          allOf:
          - $ref: '#/components/schemas/TpslSide'
          nullable: true
    StrategyParamsInput:
      type: object
      description: |
        Strategy-specific parameters forwarded to the execution engine. The
        relevant subset depends on the chosen `strategy`; a knob a strategy does
        not read is simply not applied.

        **Unknown keys are rejected with a 400** listing them. A misspelled or
        misplaced knob used to be accepted and ignored, which reported as
        success and executed as though you had never set it. Keys accept either
        camelCase or snake_case (`durationSecs` == `duration_secs`), and
        decimal/"bps" fields accept a string, integer or float.

        TP/SL is **not** set here: use the top-level `tpsl` field.
      additionalProperties: false
      properties:
        reduceOnly:
          type: boolean
          nullable: true
          description: Per-strategy override of the top-level `reduceOnly`. See that field for what reduce-only
            means.
        timeInForce:
          type: string
          nullable: true
          description: Child-order TIF (gtc/alo/ioc), strategy-dependent.
        durationSecs:
          type: integer
          format: int64
          nullable: true
          description: Total wall-clock window the schedule spans, in seconds. Time-sliced strategies
            (`passive_twap` and `vwap`) only.
        numSlices:
          type: integer
          format: int64
          nullable: true
          description: How many child orders the schedule is split into. Derived from `urgency` when omitted.
        passivePct:
          type: integer
          format: int64
          nullable: true
          description: Share of each slice's window spent resting passively before crossing, 0–100. Derived
            from `urgency` when omitted.
        clipSize:
          type: string
          nullable: true
          description: 'Iceberg: visible clip size, base-asset decimal as string.'
        clipPct:
          type: number
          format: double
          nullable: true
        participationRate:
          type: string
          nullable: true
          description: '`participation_rate` only: the share of market volume to execute at, as a decimal
            fraction string ("0.1" = 10%). Enforced as a cap, not a target.'
        urgency:
          type: integer
          format: int64
          nullable: true
          description: 'How aggressive the schedule is, 0–100. **Not a duration**: it does not say how
            long the order takes; `durationSecs` does. It is a dial the engine expands into the mechanical
            knobs: a higher value means fewer, faster slices that cross sooner (slice count falls from
            20 toward 3, passive share from 95% toward 40%), and on `vwap` a higher participation rate
            (5% toward 50%). `GET /api/orders/urgency-preview` returns the exact values a given position
            derives, so you can see what a number will do before sending it.'
        randomize:
          type: boolean
          nullable: true
          description: Jitter slice timing and size instead of running a deterministic schedule.
        maxSlippageBps:
          type: string
          nullable: true
          description: 'Price bound in basis points from the arrival mid, beyond which the order will
            not execute. On `participation_rate` it bounds every child order including the `maxDurationSecs`
            completion sweep, and taker clips that would breach it are skipped rather than sent; the order
            may finish unfilled. On the arrival-price strategy it sets the guaranteed-completion sweep
            tolerance. Other strategies ignore it: use `limitPrice` there. Must be greater than 0.'
        hardCancelPct:
          type: string
          nullable: true
        offsetFromMidBps:
          type: integer
          format: int64
          nullable: true
        chaseEnabled:
          type: boolean
          nullable: true
        guaranteedCompletion:
          type: boolean
          nullable: true
    SubmitOrderRequest:
      type: object
      required:
      - symbol
      - side
      - size
      - orderType
      properties:
        symbol:
          type: string
          example: ETH
        side:
          $ref: '#/components/schemas/Side'
        size:
          type: string
          description: Base-asset size as a decimal string.
        orderType:
          $ref: '#/components/schemas/OrderType'
        limitPrice:
          type: string
          nullable: true
          description: Required for limit orders; for market orders supply a slippage-adjusted price.
        reduceOnly:
          type: boolean
          nullable: true
          default: false
          description: 'Only let this order shrink an existing position, never open or flip one. The venue
            caps the fill at the position size and rejects it outright if the position has closed in the
            meantime, which is what makes it the safe way to close: a duplicate or stale close cannot
            accidentally open the opposite side. Combine it with `strategy` to close a position with an
            algo. Cannot be combined with `tpsl` on an algo: a closing order builds no position to protect.'
        timeInForce:
          allOf:
          - $ref: '#/components/schemas/TimeInForce'
          nullable: true
        clientOrderId:
          type: string
          nullable: true
        strategy:
          type: string
          nullable: true
          description: Algo strategy name (e.g. passive_twap, vwap, iceberg, participation_rate, chase_limit).
            Omit for a plain order.
        params:
          allOf:
          - $ref: '#/components/schemas/StrategyParamsInput'
          nullable: true
        tpsl:
          allOf:
          - $ref: '#/components/schemas/TpslParams'
          nullable: true
          description: |-
            Take-profit / stop-loss for this order. **The only place TP/SL is set**: there is no per-strategy equivalent.
            How it is applied depends on the strategy, because the mechanics differ. A plain order is one venue order, so the bracket is attached to it and is live as soon as it rests. An algo is many child orders, and a bracket per child would mean one per clip, each orphaned as its siblings filled. So for an algo the legs are placed **once, on the resulting position, when the run reaches a terminal state** (sized to the position, including a partial fill from a cancelled or expired run).
            The consequence worth knowing: for an algo the legs do not exist while the order is still working, so a price that crosses your trigger mid-run triggers nothing. If you need protection during execution, set a `limitPrice`, or use `params.maxSlippageBps` on the strategies that read it.
        source:
          type: string
          nullable: true
          description: Originating product surface, when not the plain order form (e.g. `quentin` for
            orders dispatched by the NL assistant). Attribution only, never affects execution.
    SubmitOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        orderId:
          type: string
          description: Venue order id, or for algo strategies the parent strategy id.
        status:
          type: string
        provider:
          type: string
          description: Execution provider, e.g. "hyperliquid".
        error:
          type: string
        warnings:
          type: array
          items:
            type: string
    CancelOrderRequest:
      type: object
      required:
      - symbol
      - orderId
      properties:
        symbol:
          type: string
        orderId:
          type: string
    CancelOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        error:
          type: string
    CancelAllOrdersRequest:
      type: object
      properties:
        symbol:
          type: string
          nullable: true
          description: If omitted, cancels all open orders.
    ModifyOrderRequest:
      type: object
      required:
      - symbol
      - orderId
      - side
      - limitPrice
      - size
      properties:
        symbol:
          type: string
        orderId:
          type: integer
          format: int64
          description: Exchange order id to modify.
        side:
          type: string
          enum:
          - buy
          - sell
        limitPrice:
          type: string
        size:
          type: string
        reduceOnly:
          type: boolean
          default: false
        timeInForce:
          type: string
          enum:
          - gtc
          - alo
          - ioc
          nullable: true
          description: Defaults to gtc.
        clientOrderId:
          type: string
          nullable: true
    ModifyOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        error:
          type: string
    AlgoOrderInfo:
      type: object
      required:
      - orderId
      - symbol
      - side
      - orderQty
      - filledQty
      - status
      - strategy
      - submitTime
      properties:
        orderId:
          type: string
        symbol:
          type: string
        side:
          type: string
          description: Debug-formatted side (e.g. "Buy"/"Sell").
        orderQty:
          type: string
        filledQty:
          type: string
        status:
          type: string
        strategy:
          type: string
        submitTime:
          type: string
          format: date-time
        error:
          type: string
          description: Why the order failed. Present only for failed orders.
    AlgoOrdersResponse:
      type: object
      required:
      - success
      - orders
      properties:
        success:
          type: boolean
        orders:
          type: array
          items:
            $ref: '#/components/schemas/AlgoOrderInfo'
    AlgoOrderResponse:
      type: object
      required:
      - success
      - order
      properties:
        success:
          type: boolean
        order:
          $ref: '#/components/schemas/AlgoOrderInfo'
    StrategyInfo:
      type: object
      required:
      - name
      - aliases
      - basic
      - description
      - params
      properties:
        name:
          type: string
          description: Canonical name to send as `strategy` on POST /api/orders.
          example: passive_twap
        aliases:
          type: array
          items:
            type: string
          description: Other accepted spellings that resolve to this strategy.
        basic:
          type: boolean
          description: True when the strategy resolves to a single venue order rather than an algo that
            slices its own children.
        description:
          type: string
        params:
          type: array
          items:
            type: string
          description: '`params` keys this strategy reads.'
    StrategiesResponse:
      type: object
      required:
      - strategies
      properties:
        strategies:
          type: array
          items:
            $ref: '#/components/schemas/StrategyInfo'
    AlgoFillInfo:
      type: object
      required:
      - symbol
      - side
      - size
      - price
      - timestamp
      properties:
        symbol:
          type: string
        side:
          type: string
        size:
          type: string
          description: Base-asset quantity, decimal as string.
        price:
          type: string
          description: Decimal as string.
        fee:
          type: string
          nullable: true
          description: Exchange fee in USDC.
        builderFee:
          type: string
          nullable: true
          description: Builder fee in USDC.
        isMaker:
          type: boolean
          nullable: true
          description: Whether this fill added liquidity.
        timestamp:
          type: integer
          format: int64
          description: Fill time, epoch milliseconds.
    AlgoOrderFillsResponse:
      type: object
      required:
      - success
      - fills
      properties:
        success:
          type: boolean
        fills:
          type: array
          items:
            $ref: '#/components/schemas/AlgoFillInfo'
    SpeedUpOrderRequest:
      type: object
      properties:
        factor:
          type: number
          format: double
          nullable: true
          default: 2.0
          description: How much to compress the remaining schedule. 2.0 runs the remainder in half the
            time it would otherwise take.
    SpeedUpOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
        factor:
          type: number
          format: double
          nullable: true
          description: The compression factor actually applied.
        newDurationSecs:
          type: integer
          format: int64
          nullable: true
          description: New total duration measured from order start, for time-sliced strategies.
        newParticipationRate:
          type: string
          nullable: true
          description: New participation rate (`participation_rate` only), decimal as string.
    CancelOrderItem:
      type: object
      required:
      - symbol
      - orderId
      properties:
        symbol:
          type: string
        orderId:
          type: string
          description: Exchange order id.
    CancelOrdersBatchRequest:
      type: object
      required:
      - orders
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/CancelOrderItem'
    CancelOrderResult:
      type: object
      required:
      - symbol
      - orderId
      - success
      properties:
        symbol:
          type: string
        orderId:
          type: string
        success:
          type: boolean
        error:
          type: string
          nullable: true
        orderStatus:
          type: string
          nullable: true
          description: Venue lifecycle status when the order was already closed at cancel time (e.g. `filled`,
            `canceled`). Absent on a plain cancel.
    CancelOrdersBatchResponse:
      type: object
      required:
      - success
      - cancelled
      - failed
      - results
      properties:
        success:
          type: boolean
          description: True only when every requested order is no longer open.
        cancelled:
          type: integer
        failed:
          type: integer
          description: Genuine venue rejections. An already-closed order is not one.
        results:
          type: array
          items:
            $ref: '#/components/schemas/CancelOrderResult'
    SimulateOrderRequest:
      type: object
      required:
      - symbol
      - side
      - size
      properties:
        symbol:
          type: string
          example: ETH
        side:
          type: string
          description: '`buy` or `sell` (case-insensitive).'
        size:
          type: string
          description: Base-asset size, decimal as string.
    SimulateOrderResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        expectedPrice:
          type: string
          nullable: true
          description: Average fill price for the swept portion.
        vwap:
          type: string
          nullable: true
          description: Volume-weighted average price of the same sweep (mirrors `expectedPrice`).
        impactBps:
          type: string
          nullable: true
          description: Signed depth cost against `bestPrice`, in basis points. Positive = worse for the
            side.
        bestPrice:
          type: string
          nullable: true
          description: 'Best opposing quote at sweep time (best ask for buys, best bid for sells): the
            reference `impactBps` was measured against, so you can derive the dollar slippage from the
            same reference.'
        mid:
          type: string
          nullable: true
          description: Mid price from the same snapshot, informational.
        availableSize:
          type: string
          nullable: true
          description: Total resting size on the swept side of the book.
        error:
          type: string
          nullable: true
    UrgencyPreviewResponse:
      type: object
      properties:
        intervals:
          type: integer
          nullable: true
          description: Slice count the schedule will use (`twap`).
        passivePct:
          type: integer
          nullable: true
          description: Passive share of each slice window, 0–100 (`twap`).
        participationPct:
          type: integer
          nullable: true
          description: Participation rate the schedule will target, 0–100 (`vwap`).
        expectedMakerPct:
          type: integer
          nullable: true
          description: Expected share of fills that rest as maker, 0–100.
    SetPositionTpslRequest:
      type: object
      required:
      - symbol
      - tpsl
      properties:
        symbol:
          type: string
          description: Symbol with an open position.
          example: BTC
        tpsl:
          $ref: '#/components/schemas/TpslParams'
        size:
          type: string
          nullable: true
          description: Base-asset size the trigger legs should cover. Omit to cover the whole position.
            The legs are fixed-size either way (they do not resize as the position changes), so a partial
            size is a deliberate "protect this much" choice, not a ratio that tracks the position. A value
            larger than the current position is refused rather than clamped.
    SetPositionTpslResponse:
      type: object
      required:
      - success
      - replaced
      properties:
        success:
          type: boolean
        tpOrderId:
          type: string
          nullable: true
        slOrderId:
          type: string
          nullable: true
        replaced:
          type: integer
          description: How many previous position-bound triggers were cancelled.
        warnings:
          type: array
          items:
            type: string
          description: Non-fatal problems, e.g. the new legs are live but a replaced trigger could not
            be cancelled.
        error:
          type: string
          nullable: true
    SetAccountModeRequest:
      type: object
      required:
      - mode
      properties:
        mode:
          type: string
          enum:
          - standard
          - unified_account
          - portfolio_margin
    SetAccountModeResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
          nullable: true
        error:
          type: string
          nullable: true
    TacticSummary:
      type: object
      required:
      - filled
      properties:
        parentOrderId:
          type: string
          format: uuid
          nullable: true
        strategy:
          type: string
          nullable: true
        filled:
          type: string
          description: Decimal as string.
        execVwap:
          type: string
          nullable: true
        vsTacticArrivalBps:
          type: string
          nullable: true
          description: This tactic's shortfall against **its own** arrival, the execution component only.
            Not comparable across tactics of one intent.
        vsMarketOrderBps:
          type: string
          nullable: true
        makerFillPct:
          type: string
          nullable: true
    IntentExecutionReport:
      type: object
      required:
      - intentId
      - symbol
      - side
      - objective
      - totalSize
      - filledSize
      - residual
      - tacticCount
      - totalFees
      - builderFees
      - elapsedSecs
      - tactics
      properties:
        intentId:
          type: string
          format: uuid
        symbol:
          type: string
        side:
          $ref: '#/components/schemas/Side'
        objective:
          type: string
          enum:
          - arrival
          - vwap
          - close
          - none
          description: The benchmark the intent asked to be measured against. `arrival` is the default
            (shortfall against the mid at intent creation); `none` means the caller explicitly did not
            want one.
        totalSize:
          type: string
        filledSize:
          type: string
        residual:
          type: string
          description: Size still unexecuted across every tactic.
        tacticCount:
          type: integer
        execVwap:
          type: string
          nullable: true
          description: Size-weighted execution price across every tactic.
        arrivalMid:
          type: string
          nullable: true
          description: The intent's arrival anchor, captured once at creation and never back-filled.
        totalShortfallBps:
          type: string
          nullable: true
          description: 'Total implementation shortfall against the intent''s arrival: delay + execution.
            Positive = worse.'
        executionBps:
          type: string
          nullable: true
          description: 'The execution component: size-weighted tactic shortfall against each tactic''s
            own arrival.'
        delayBps:
          type: string
          nullable: true
          description: 'The delay component, `total − execution`: what the price did between committing
            to the intent and a tactic working it. Positive = the market moved against you while waiting.'
        vsMarketOrderBps:
          type: string
          nullable: true
          description: vs a simulated per-slice market order, size-weighted.
        vsHlNativeTwapBps:
          type: string
          nullable: true
          description: vs an estimate of Hyperliquid's native TWAP, crediting the taker fee the maker
            share avoided.
        makerFillPct:
          type: string
          nullable: true
        totalFees:
          type: string
        builderFees:
          type: string
        elapsedSecs:
          type: integer
          format: int64
        tactics:
          type: array
          items:
            $ref: '#/components/schemas/TacticSummary'
    CreateAgentResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        agentAddress:
          type: string
        error:
          type: string
    RegisterAgentRequest:
      type: object
      required:
      - agentAddress
      - signature
      - nonce
      - agentName
      properties:
        agentAddress:
          type: string
          description: EVM address of the agent wallet (normalized).
        signature:
          type: string
        nonce:
          type: integer
          format: int64
          description: Nonce used when signing (timestamp in milliseconds).
        agentName:
          type: string
    RegisterAgentResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        message:
          type: string
        agentAddress:
          type: string
        network:
          type: string
          enum:
          - mainnet
          - testnet
        error:
          type: string
    RecordBuilderApprovalRequest:
      type: object
      required:
      - nonce
      properties:
        nonce:
          type: integer
          format: int64
    AcceptTermsRequest:
      type: object
      required:
      - termsVersion
      - analyticsConsent
      properties:
        termsVersion:
          type: string
        analyticsConsent:
          type: boolean
    GetAgentResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        agentAddress:
          type: string
        createdAt:
          type: integer
          format: int64
          description: Unix timestamp (seconds).
        expired:
          type: boolean
        builderFeeApproved:
          type: boolean
        termsAcceptedAt:
          type: integer
          format: int64
        termsVersion:
          type: string
        error:
          type: string
    UpdateLeverageRequest:
      type: object
      required:
      - symbol
      - leverage
      properties:
        symbol:
          type: string
        leverage:
          type: integer
          format: int32
        isCross:
          type: boolean
          default: false
    UpdateMarginRequest:
      type: object
      required:
      - symbol
      - marginDelta
      - isBuy
      properties:
        symbol:
          type: string
        marginDelta:
          type: string
          description: Margin to add (positive) or remove (negative), as a number string.
        isBuy:
          type: boolean
          description: Long side (true) or short side (false).
    TransferSpotPerpRequest:
      type: object
      required:
      - amount
      - toPerp
      properties:
        amount:
          type: string
          description: USD amount (positive).
        toPerp:
          type: boolean
          description: Transfer to perp (true) or to spot (false).
    TemplateInfo:
      type: object
      required:
      - id
      - name
      - urgency
      - priceDiscipline
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        icon:
          type: string
        urgency:
          type: integer
          format: int32
        priceDiscipline:
          type: integer
          format: int32
        parameters:
          $ref: '#/components/schemas/StrategyParamsInput'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    CreateTemplateRequest:
      type: object
      required:
      - name
      - urgency
      - priceDiscipline
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        urgency:
          type: integer
          format: int32
          description: 0–100.
        priceDiscipline:
          type: integer
          format: int32
          description: 0–100.
        parameters:
          allOf:
          - $ref: '#/components/schemas/StrategyParamsInput'
          nullable: true
    UpdateTemplateRequest:
      type: object
      description: All fields optional; only provided fields are updated.
      properties:
        name:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        icon:
          type: string
          nullable: true
        urgency:
          type: integer
          format: int32
          nullable: true
          description: 0–100.
        priceDiscipline:
          type: integer
          format: int32
          nullable: true
          description: 0–100.
        parameters:
          allOf:
          - $ref: '#/components/schemas/StrategyParamsInput'
          nullable: true
    TemplateResponse:
      type: object
      required:
      - success
      properties:
        success:
          type: boolean
        template:
          $ref: '#/components/schemas/TemplateInfo'
        error:
          type: string
    ListTemplatesResponse:
      type: object
      required:
      - success
      - templates
      properties:
        success:
          type: boolean
        templates:
          type: array
          items:
            $ref: '#/components/schemas/TemplateInfo'
        error:
          type: string
    CreateTriggerRequest:
      type: object
      required:
      - triggerType
      - condition
      - executionOrder
      properties:
        name:
          type: string
          nullable: true
        triggerType:
          type: string
          description: 'Known type: price, copy_trade, funding, oi_change, time.'
        condition:
          type: object
          additionalProperties: true
          description: Opaque condition payload.
        executionOrder:
          type: object
          additionalProperties: true
          description: Opaque execution-order payload.
        expiresAt:
          type: string
          format: date-time
          nullable: true
    TriggerInfo:
      type: object
      required:
      - id
      - status
      - triggerType
      - condition
      - executionOrder
      - createdAt
      - updatedAt
      properties:
        id:
          type: string
        name:
          type: string
        status:
          type: string
        triggerType:
          type: string
        condition:
          type: object
          additionalProperties: true
        executionOrder:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        triggeredAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
    TriggerEventInfo:
      type: object
      required:
      - id
      - triggerId
      - eventType
      - createdAt
      properties:
        id:
          type: string
        triggerId:
          type: string
        eventType:
[...]
